openapi: 3.0.0
info:
  contact:
    name: MX Platform API
    url: https://www.mx.com/products/platform-api
  description: |
    The MX Platform API is a powerful, fully-featured API designed to make aggregating and enhancing financial data easy and reliable. It can seamlessly connect your app or website to tens of thousands of financial institutions.

    Just getting started? See our [use case guides](/use-cases/).
  title: MX Platform API
  version: '20111101'
servers:
  - url: https://int-api.mx.com
  - url: https://api.mx.com
security:
  - basicAuth: []
tags:
  - name: authorization
  - name: widgets
  - name: users
  - name: members
  - name: institutions
  - name: accounts
  - name: transactions
  - name: microdeposits
  - name: managed data
  - name: transaction rules
  - name: statements
  - name: merchants
  - name: categories
  - name: insights
  - name: investment holdings
  - name: spending plan
  - name: goals
  - name: budgets
  - name: monthly cash flow profile
  - name: notifications
  - name: taggings
  - name: tags
  - name: deprecated
  - name: processor token
  - name: verifiable credentials
  - name: rewards
  - name: ach return
paths:
  /authorization_code:
    post:
      description: Clients use this endpoint to request an authorization code according to the parameters specified in the scope. Clients then pass this code to processors. Processor access is scoped only to the GUIDs and features specified in this request. Before requesting an authorization code which includes a member in the scope, clients must have verified that member.
      operationId: requestAuthorizationCode
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthorizationCodeRequestBody'
        description: The scope for the authorization code.
        required: true
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/AuthorizationCodeResponseBody'
          description: OK
      summary: Request an authorization code
      tags:
        - processor token
  /ach_returns/{ach_return_guid}:
    get:
      description: |
        :::warning
        The features documented here are in a beta state, and this documentation is considered draft material subject to frequent change.
        :::

        Use this endpoint to get an ACH return by its `guid` or `id`.
      operationId: readACHRetrun
      parameters:
        - $ref: '#/components/parameters/achReturnGuid'
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/ACHReturnResponseBody'
          description: OK
      summary: Read ACH Return
      tags:
        - ach return
  /ach_returns:
    get:
      description: |
        :::warning
        The features documented here are in a beta state, and this documentation is considered draft material subject to frequent change.
        :::

        Use this endpoint to get all ACH returns.
      operationId: listACHRetruns
      parameters:
        - $ref: '#/components/parameters/institutionGuid'
        - $ref: '#/components/parameters/returnedAt'
        - $ref: '#/components/parameters/resolvedStatusAt'
        - $ref: '#/components/parameters/returnCode'
        - $ref: '#/components/parameters/returnStatus'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/recordsPerPage'
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/ACHReturnsResponseBody'
          description: OK
      summary: List ACH Returns
      tags:
        - ach return
    post:
      description: |
        :::warning
        The features documented here are in a beta state, and this documentation is considered draft material subject to frequent change.
        :::

        Use this endpoint to create an ACH return in our system.
      operationId: createACHReturn
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ACHReturnCreateRequestBody'
        description: ACH return object to be created.
        required: true
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/ACHReturnResponseBody'
          description: OK
      summary: Create ACH Return
      tags:
        - ach return
  /categories/default:
    get:
      description: Use this endpoint to retrieve a list of all the default categories and subcategories offered within the MX Platform API. In other words, each item in the returned list will have its `is_default` field set to `true`. There are currently 119 default categories and subcategories. Both the _list default categories_ and _list default categories by user_ endpoints return the same results. The different routes are provided for convenience.
      operationId: listDefaultCategories
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/recordsPerPage'
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/CategoriesResponseBody'
          description: OK
      summary: List default categories
      tags:
        - categories
  /categories/{category_guid}:
    get:
      description: Use this endpoint to read the attributes of a default category.
      operationId: readDefaultCategory
      parameters:
        - $ref: '#/components/parameters/categoryGuid'
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/CategoryResponseBody'
          description: OK
      summary: Read a default category
      tags:
        - categories
  /institutions:
    get:
      description: This endpoint returns a list of institutions based on the specified search term or parameter.
      operationId: listInstitutions
      parameters:
        - $ref: '#/components/parameters/institutionName'
        - $ref: '#/components/parameters/isoCountryCode'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/recordsPerPage'
        - $ref: '#/components/parameters/supportsAccountIdentification'
        - $ref: '#/components/parameters/supportsAccountStatement'
        - $ref: '#/components/parameters/supportsAccountVerification'
        - $ref: '#/components/parameters/supportsTransactionHistory'
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/InstitutionsResponseBody'
          description: OK
      summary: List institutions
      tags:
        - institutions
  /institutions/favorites:
    get:
      description: This endpoint returns a paginated list containing institutions that have been set as the partner’s favorites, sorted by popularity. Please contact MX to set a list of favorites.
      operationId: listFavoriteInstitutions
      parameters:
        - $ref: '#/components/parameters/isoCountryCode'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/recordsPerPage'
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/InstitutionsResponseBody'
          description: OK
      summary: List favorite institutions
      tags:
        - institutions
  /institutions/{institution_code}:
    get:
      description: This endpoint returns information about the institution specified by `institution_code`.
      operationId: readInstitution
      parameters:
        - $ref: '#/components/parameters/institutionCode'
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/InstitutionResponseBody'
          description: OK
      summary: Read institution
      tags:
        - institutions
  /institutions/{institution_code}/credentials:
    get:
      description: |
        Use this endpoint to see which credentials will be needed to create a member for a specific institution.

        Passing an invalid `institution_code` returns a `404`.
      operationId: listInstitutionCredentials
      parameters:
        - $ref: '#/components/parameters/institutionCode'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/recordsPerPageMax1000'
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/CredentialsResponseBody'
          description: OK
      summary: List institution credentials
      tags:
        - institutions
  /managed_institutions:
    get:
      description: This endpoint returns a list of institutions which can be used to create partner-managed members.
      operationId: listManagedInstitutions
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/recordsPerPageMax1000'
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/InstitutionsResponseBody'
          description: OK
      summary: List managed institutions
      tags:
        - managed data
  /merchant_locations/{merchant_location_guid}:
    get:
      description: This endpoint returns the specified `merchant_location` resource. The `merchant_location_guid` can be found on `transaction` objects.
      operationId: readMerchantLocation
      parameters:
        - $ref: '#/components/parameters/merchantLocationGuid'
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/MerchantLocationResponseBody'
          description: OK
      summary: Read merchant location
      tags:
        - merchants
  /merchants:
    get:
      description: This endpoint returns a paginated list of all the merchants in the MX system.
      operationId: listMerchants
      parameters:
        - $ref: '#/components/parameters/merchantName'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/recordsPerPageMax1000'
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/MerchantsResponseBody'
          description: OK
      summary: List merchants
      tags:
        - merchants
  /merchants/{merchant_guid}:
    get:
      description: Returns information about a particular merchant, such as a logo, name, and website.
      operationId: readMerchant
      parameters:
        - $ref: '#/components/parameters/merchantGuid'
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/MerchantResponseBody'
          description: OK
      summary: Read merchant
      tags:
        - merchants
  /payment_processor_authorization_code:
    post:
      description: (This endpoint is deprecated. Clients should use `/authorization_code`.) Clients use this endpoint to request an authorization_code according to a user, member, and account specified in the request body. Clients then pass this code to processors. Processor access is scoped only to the user/member/account specified in this request. Before requesting an authorization_code, clients must have verified the specified member.
      operationId: deprecatedRequestPaymentProcessorAuthorizationCode
      deprecated: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentProcessorAuthorizationCodeRequestBody'
        description: The scope for the authorization code.
        required: true
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/PaymentProcessorAuthorizationCodeResponseBody'
          description: OK
      summary: (Deprecated) Request an authorization code
      tags:
        - processor token
  /transactions/enhance:
    post:
      description: "Use this endpoint to categorize, cleanse, and classify transactions. These transactions are not persisted or stored on the MX platform. <br /><br />For more information on returned data, please see the [Enhanced Transactions fields guide](/api-reference/platform-api/reference/transactions-overview#enhanced-transactions)."
      operationId: enhanceTransactions
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnhanceTransactionsRequestBody'
        description: Transaction object to be enhanced
        required: true
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/EnhanceTransactionsResponseBody'
          description: OK
      summary: Enhance transactions
      tags:
        - transactions
  /users:
    get:
      description: Use this endpoint to list every user you've created in the MX Platform API.
      operationId: listUsers
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/recordsPerPageMax1000'
        - $ref: '#/components/parameters/userId'
        - $ref: '#/components/parameters/userEmail'
        - $ref: '#/components/parameters/userIsDisabled'
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/UsersResponseBody'
          description: OK
      summary: List users
      tags:
        - users
    post:
      description: Use this endpoint to create a new user. The API will respond with the newly-created user object if successful, containing a `guid` that you'll set as the `user_guid` in other requests when required. Disabling a user means that accounts and transactions associated with it will not be updated in the background by MX. It will also restrict access to that user’s data until they are no longer disabled.
      operationId: createUser
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserCreateRequestBody'
        description: User object to be created. (None of these parameters are required, but the user object cannot be empty)
        required: true
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/UserResponseBody'
          description: OK
      summary: Create user
      tags:
        - users
  /users/{user_guid}:
    delete:
      description: |
        Use this endpoint to delete the specified `user`. The response will have a status of `204 No Content` without an object.

        :::warning
        Deleting a user is permanent. Deleted users can never be restored. For more info, see [Deleting Objects](https://docs.mx.com/api-reference/platform-api/overview/deleting-objects).
        :::
      operationId: deleteUser
      parameters:
        - $ref: '#/components/parameters/acceptHeader'
        - $ref: '#/components/parameters/userGuid'
      responses:
        '204':
          description: No Content
      summary: Delete user
      tags:
        - users
    get:
      description: Use this endpoint to read the attributes of a specific user.
      operationId: readUser
      parameters:
        - $ref: '#/components/parameters/userGuid'
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/UserResponseBody'
          description: OK
      summary: Read user
      tags:
        - users
    put:
      description: Use this endpoint to update the attributes of the specified user.
      operationId: updateUser
      parameters:
        - $ref: '#/components/parameters/userGuid'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserUpdateRequestBody'
        description: User object to be updated (None of these parameters are required, but the user object cannot be empty.)
        required: true
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/UserResponseBody'
          description: OK
      summary: Update user
      tags:
        - users
  /users/{user_guid}/accounts:
    get:
      description: |
        This endpoint returns a list of all the accounts associated with the specified `user`.

        :::warning
        This request will not return the full account number. It may return the last four digits of the account number if that information has been provided during aggregation. If you need the full account number, please refer to [List account numbers by member](https://docs.mx.com/api-reference/platform-api/reference/list-account-numbers-by-member/), [List account numbers by account](https://docs.mx.com/api-reference/platform-api/reference/list-account-numbers-by-account/), or the [Fetch Account and Routing Numbers](https://docs.mx.com/products/connectivity/instant-account-verification/fetch-account-routing-number-api/#4-read-the-account-numbers) guide.
        :::
      operationId: listUserAccounts
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/memberIsManagedByUser'
        - $ref: '#/components/parameters/accountIsManual'
        - $ref: '#/components/parameters/recordsPerPageMax1000'
        - $ref: '#/components/parameters/userGuid'
        - $ref: '#/components/parameters/useCase'
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/AccountsResponseBody'
          description: OK
      summary: List accounts
      tags:
        - accounts
    post:
      description: This endpoint can only be used to create manual accounts. Creating a manual account will automatically create it under the Manual Institution member. Since a manual account has no credentials tied to the member, the account will never aggregate or include data from a data feed..
      operationId: createManualAccount
      parameters:
        - $ref: '#/components/parameters/userGuid'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountCreateRequestBody'
        description: Manual account object to be created.
        required: true
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/AccountResponseBody'
          description: OK
      summary: Create manual account
      tags:
        - accounts
  /users/{user_guid}/accounts/{account_guid}:
    get:
      description: This endpoint returns the specified `account` resource.
      operationId: readAccount
      parameters:
        - $ref: '#/components/parameters/accountGuid'
        - $ref: '#/components/parameters/userGuid'
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/AccountResponseBody'
          description: OK
      summary: Read account
      tags:
        - accounts
    delete:
      description: This endpoint deletes accounts that were manually created. The API will respond with an empty object and a status of `204 No Content`.
      operationId: deleteManualAccount
      parameters:
        - $ref: '#/components/parameters/accountGuid'
        - $ref: '#/components/parameters/acceptHeader'
        - $ref: '#/components/parameters/userGuid'
      responses:
        '204':
          description: No content.
      summary: Delete manual account
      tags:
        - accounts
  /users/{user_guid}/accounts/{account_guid}/account_numbers:
    get:
      description: This endpoint returns a list of account numbers associated with the specified `account`.
      operationId: listAccountNumbersByAccount
      parameters:
        - $ref: '#/components/parameters/accountGuid'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/recordsPerPageMax1000'
        - $ref: '#/components/parameters/userGuid'
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/AccountNumbersResponseBody'
          description: OK
      summary: List account numbers by account
      tags:
        - accounts
  /users/{user_guid}/accounts/{account_guid}/insights:
    get:
      description: Use this endpoint to list all insights associated with an account GUID.
      operationId: listInsightsByAccount
      parameters:
        - $ref: '#/components/parameters/accountGuid'
        - $ref: '#/components/parameters/userGuid'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/recordsPerPage'
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/InsightsResponseBody'
          description: OK
      summary: List insights by account
      tags:
        - insights
  /users/{user_guid}/accounts/{account_guid}/transactions:
    post:
      operationId: createManualTransaction
      tags:
        - transactions
      summary: Create manual transaction
      description: This endpoint can only be used to create manual transactions that are under a manual account. This endpoint accepts the optional MX-Skip-Webhook header and skip_webhook parameter.
      parameters:
        - $ref: '#/components/parameters/userGuid'
        - $ref: '#/components/parameters/accountGuid'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionCreateRequestBody'
      responses:
        '200':
          description: OK
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/TransactionCreateResponseBody'
    get:
      description: "Requests to this endpoint return a list of transactions associated with the specified account. <br /><br />Enhanced transaction data may be requested using the `includes` parameter. To use this optional parameter, the value should include the optional metadata requested such as `repeating_transactions`, `merchants`, `classifications`, `geolocations`. For more information, see the [Optional Enhancement Query Parameter guide](/api-reference/platform-api/reference/transactions-overview#enhanced-transactions#optional-enhancement-query-parameter)."
      operationId: listTransactionsByAccount
      parameters:
        - $ref: '#/components/parameters/accountGuid'
        - $ref: '#/components/parameters/userGuid'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/recordsPerPageMax1000'
        - $ref: '#/components/parameters/fromDate'
        - $ref: '#/components/parameters/toDate'
        - $ref: '#/components/parameters/fromCreatedAt'
        - $ref: '#/components/parameters/toCreatedAt'
        - $ref: '#/components/parameters/fromUpdatedAt'
        - $ref: '#/components/parameters/toUpdatedAt'
        - $ref: '#/components/parameters/categoryGuidQuery'
        - $ref: '#/components/parameters/categoryGuidQueryArray'
        - $ref: '#/components/parameters/topLevelCategoryGuid'
        - $ref: '#/components/parameters/topLevelCategoryGuidArray'
        - $ref: '#/components/parameters/includes'
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/TransactionsResponseBodyIncludes'
          description: OK
      summary: List transactions by account
      tags:
        - transactions
  /users/{user_guid}/categories:
    get:
      description: Use this endpoint to list all categories associated with a `user`, including both default and custom categories.
      operationId: listCategories
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/recordsPerPageMax1000'
        - $ref: '#/components/parameters/userGuid'
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/CategoriesResponseBody'
          description: OK
      summary: List categories
      tags:
        - categories
    post:
      description: Use this endpoint to create a new custom category for a specific `user`.
      operationId: createCategory
      parameters:
        - $ref: '#/components/parameters/userGuid'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CategoryCreateRequestBody'
        description: Custom category object to be created
        required: true
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/CategoryResponseBody'
          description: OK
      summary: Create category
      tags:
        - categories
  /users/{user_guid}/categories/default:
    get:
      description: Use this endpoint to retrieve a list of all the default categories and subcategories, scoped by user, offered within the MX Platform API. In other words, each item in the returned list will have its `is_default` field set to `true`. There are currently 119 default categories and subcategories. Both the _list default categories_ and _list default categories by user_ endpoints return the same results. The different routes are provided for convenience.
      operationId: listDefaultCategoriesByUser
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/recordsPerPageMax1000'
        - $ref: '#/components/parameters/userGuid'
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/CategoriesResponseBody'
          description: OK
      summary: List default categories by user
      tags:
        - categories
  /users/{user_guid}/categories/{category_guid}:
    delete:
      description: Use this endpoint to delete a specific custom category according to its unique GUID. The API will respond with an empty object and a status of `204 No Content`.
      operationId: deleteCategory
      parameters:
        - $ref: '#/components/parameters/categoryGuid'
        - $ref: '#/components/parameters/userGuid'
      responses:
        '204':
          description: No Content
      summary: Delete category
      tags:
        - categories
    get:
      description: Use this endpoint to read the attributes of either a default category or a custom category.
      operationId: readCategory
      parameters:
        - $ref: '#/components/parameters/categoryGuid'
        - $ref: '#/components/parameters/userGuid'
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/CategoryResponseBody'
          description: OK
      summary: Read a custom category
      tags:
        - categories
    put:
      description: Use this endpoint to update the attributes of a custom category according to its unique GUID.
      operationId: updateCategory
      parameters:
        - $ref: '#/components/parameters/categoryGuid'
        - $ref: '#/components/parameters/userGuid'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CategoryUpdateRequestBody'
        description: Category object to be updated (While no single parameter is required, the `category` object cannot be empty)
        required: true
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/CategoryResponseBody'
          description: OK
      summary: Update category
      tags:
        - categories
  /users/{user_guid}/connect_widget_url:
    post:
      description: This endpoint will return a URL for an embeddable version of MX Connect.
      operationId: requestConnectWidgetURL
      parameters:
        - $ref: '#/components/parameters/userGuid'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConnectWidgetRequestBody'
        description: Optional config options for WebView (is_mobile_webview, current_institution_code, current_member_guid, update_credentials)
        required: true
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/ConnectWidgetResponseBody'
          description: OK
      summary: (Deprecated) Request connect widget URL
      deprecated: true
      tags:
        - widgets
  /users/{user_guid}/insights:
    get:
      description: Use this endpoint to list all the insights associated with the user.
      operationId: listInsightsUser
      parameters:
        - $ref: '#/components/parameters/userGuid'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/recordsPerPage'
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/InsightsResponseBody'
          description: OK
      summary: List all insights for a user
      tags:
        - insights
  /users/{user_guid}/insights/{insight_guid}/categories:
    get:
      description: Use this endpoint to list all the categories associated with the insight.
      operationId: listCategoriesInsight
      parameters:
        - $ref: '#/components/parameters/userGuid'
        - $ref: '#/components/parameters/insightGuid'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/recordsPerPage'
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/CategoriesResponseBody'
          description: OK
      summary: List all categories associated with an insight
      tags:
        - insights
  /users/{user_guid}/insights/{insight_guid}/accounts:
    get:
      description: Use this endpoint to list all the accounts associated with the insight.
      operationId: listAccountsInsight
      parameters:
        - $ref: '#/components/parameters/userGuid'
        - $ref: '#/components/parameters/insightGuid'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/recordsPerPage'
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/AccountsResponseBody'
          description: OK
      summary: List all accounts associated with an insight
      tags:
        - insights
  /users/{user_guid}/insights/{insight_guid}/merchants:
    get:
      description: Use this endpoint to list all the merchants associated with the insight.
      operationId: listMerchantsInsight
      parameters:
        - $ref: '#/components/parameters/userGuid'
        - $ref: '#/components/parameters/insightGuid'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/recordsPerPage'
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/MerchantsResponseBody'
          description: OK
      summary: List all merchants associated with an insight
      tags:
        - insights
  /users/{user_guid}/insights/{insight_guid}/scheduled_payments:
    get:
      description: Use this endpoint to list all the scheduled payments associated with the insight.
      operationId: listScheduledPaymentsInsight
      parameters:
        - $ref: '#/components/parameters/userGuid'
        - $ref: '#/components/parameters/insightGuid'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/recordsPerPage'
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/ScheduledPaymentsResponseBody'
          description: OK
      summary: List all scheduled payments associated with an insight
      tags:
        - insights
  /users/{user_guid}/insights/{insight_guid}/transactions:
    get:
      description: Use this endpoint to list all the transactions associated with the insight.
      operationId: listTransactionsInsight
      parameters:
        - $ref: '#/components/parameters/userGuid'
        - $ref: '#/components/parameters/insightGuid'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/recordsPerPage'
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/TransactionsResponseBody'
          description: OK
      summary: List all transactions associated with an insight
      tags:
        - insights
  /users/{user_guid}/insights/{insight_guid}:
    get:
      description: Use this endpoint to read the attributes of an insight according to its unique GUID.
      operationId: readInsightUser
      parameters:
        - $ref: '#/components/parameters/userGuid'
        - $ref: '#/components/parameters/insightGuid'
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/InsightResponseBody'
          description: OK
      summary: Read insight
      tags:
        - insights
    put:
      description: Use this endpoint to update the attributes of an insight according to its unique GUID.
      operationId: updateInsight
      parameters:
        - $ref: '#/components/parameters/userGuid'
        - $ref: '#/components/parameters/insightGuid'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InsightUpdateRequestBody'
        description: The insight to be updated (None of these parameters are required, but the user object cannot be empty.)
        required: true
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/InsightResponse'
          description: OK
      summary: Update insight
      tags:
        - insights
  /users/{user_guid}/managed_members:
    get:
      description: This endpoint returns a list of all the partner-managed members associated with the specified `user`.
      operationId: listManagedMembers
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/recordsPerPageMax1000'
        - $ref: '#/components/parameters/userGuid'
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/MembersResponseBody'
          description: OK
      summary: List managed members
      tags:
        - managed data
    post:
      description: Use this endpoint to create a new partner-managed `member`.
      operationId: createManagedMember
      parameters:
        - $ref: '#/components/parameters/userGuid'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ManagedMemberCreateRequestBody'
        description: Managed member to be created.
        required: true
      responses:
        '202':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/MemberResponseBody'
          description: OK
      summary: Create managed member
      tags:
        - managed data
  /users/{user_guid}/managed_members/{member_guid}:
    delete:
      description: Use this endpoint to delete the specified partner-managed `member`. The endpoint will respond with a status of `204 No Content` without a resource.
      operationId: deleteManagedMember
      parameters:
        - $ref: '#/components/parameters/memberGuid'
        - $ref: '#/components/parameters/acceptHeader'
        - $ref: '#/components/parameters/userGuid'
      responses:
        '204':
          description: No Content
      summary: Delete managed member
      tags:
        - managed data
    get:
      description: This endpoint returns the attributes of the specified partner-managed`member`.
      operationId: readManagedMember
      parameters:
        - $ref: '#/components/parameters/memberGuid'
        - $ref: '#/components/parameters/userGuid'
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/MemberResponseBody'
          description: OK
      summary: Read managed member
      tags:
        - managed data
    put:
      description: Use this endpoint to update the attributes of the specified partner_managed `member`.
      operationId: updateManagedMember
      parameters:
        - $ref: '#/components/parameters/memberGuid'
        - $ref: '#/components/parameters/userGuid'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ManagedMemberUpdateRequestBody'
        description: Managed member object to be updated (While no single parameter is required, the request body can't be empty)
        required: true
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/MemberResponseBody'
          description: OK
      summary: Update managed member
      tags:
        - managed data
  /users/{user_guid}/managed_members/{member_guid}/accounts:
    get:
      description: Use this endpoint to retrieve a list of all the partner-managed accounts associated with the given partner-managed member.
      operationId: listManagedAccounts
      parameters:
        - $ref: '#/components/parameters/memberGuid'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/recordsPerPageMax1000'
        - $ref: '#/components/parameters/userGuid'
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/AccountsResponseBody'
          description: OK
      summary: List managed accounts
      tags:
        - managed data
    post:
      description: Use this endpoint to create a partner-managed account.
      operationId: createManagedAccount
      parameters:
        - $ref: '#/components/parameters/memberGuid'
        - $ref: '#/components/parameters/userGuid'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ManagedAccountCreateRequestBody'
        description: Managed account to be created.
        required: true
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/AccountResponseBody'
          description: OK
      summary: Create managed account
      tags:
        - managed data
  /users/{user_guid}/managed_members/{member_guid}/accounts/{account_guid}:
    delete:
      description: Use this endpoint to delete a partner-managed account according to its unique GUID. If successful, the API will respond with a status of `204 No Content`.
      operationId: deleteManagedAccount
      parameters:
        - $ref: '#/components/parameters/accountGuid'
        - $ref: '#/components/parameters/memberGuid'
        - $ref: '#/components/parameters/userGuid'
      responses:
        '204':
          description: No Content
      summary: Delete managed account
      tags:
        - managed data
    get:
      description: Use this endpoint to read the attributes of a partner-managed account according to its unique guid.
      operationId: readManagedAccount
      parameters:
        - $ref: '#/components/parameters/accountGuid'
        - $ref: '#/components/parameters/memberGuid'
        - $ref: '#/components/parameters/userGuid'
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/AccountResponseBody'
          description: OK
      summary: Read managed account
      tags:
        - managed data
    put:
      description: Use this endpoint to update the attributes of a partner-managed account according to its unique GUID.
      operationId: updateManagedAccount
      parameters:
        - $ref: '#/components/parameters/accountGuid'
        - $ref: '#/components/parameters/memberGuid'
        - $ref: '#/components/parameters/userGuid'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ManagedAccountUpdateRequestBody'
        description: Managed account object to be updated (While no single parameter is required, the request body can't be empty)
        required: true
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/AccountResponseBody'
          description: OK
      summary: Update managed account
      tags:
        - managed data
  /users/{user_guid}/managed_members/{member_guid}/accounts/{account_guid}/transactions:
    get:
      description: This endpoint returns a list of all the partner-managed transactions associated with the specified `account`, scoped through a `user` and a `member`.
      operationId: listManagedTransactions
      parameters:
        - $ref: '#/components/parameters/accountGuid'
        - $ref: '#/components/parameters/memberGuid'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/fromDate'
        - $ref: '#/components/parameters/toDate'
        - $ref: '#/components/parameters/recordsPerPageMax1000'
        - $ref: '#/components/parameters/userGuid'
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/TransactionsResponseBody'
          description: OK
      summary: List managed transactions
      tags:
        - managed data
    post:
      description: Use this endpoint to create a new partner-managed `transaction`.
      operationId: createManagedTransaction
      parameters:
        - $ref: '#/components/parameters/accountGuid'
        - $ref: '#/components/parameters/memberGuid'
        - $ref: '#/components/parameters/userGuid'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ManagedTransactionCreateRequestBody'
        description: Managed transaction to be created.
        required: true
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/TransactionResponseBody'
          description: OK
      summary: Create managed transaction
      tags:
        - managed data
  /users/{user_guid}/managed_members/{member_guid}/accounts/{account_guid}/transactions/{transaction_guid}:
    delete:
      description: Use this endpoint to delete the specified partner-managed `transaction`. The endpoint will respond with a status of `204 No Content` without a resource.
      operationId: deleteManagedTransaction
      parameters:
        - $ref: '#/components/parameters/accountGuid'
        - $ref: '#/components/parameters/memberGuid'
        - $ref: '#/components/parameters/transactionGuid'
        - $ref: '#/components/parameters/userGuid'
      responses:
        '204':
          description: No Content
      summary: Delete managed transaction
      tags:
        - managed data
    get:
      description: Requests to this endpoint will return the attributes of the specified partner-managed `transaction`.
      operationId: readManagedTransaction
      parameters:
        - $ref: '#/components/parameters/accountGuid'
        - $ref: '#/components/parameters/memberGuid'
        - $ref: '#/components/parameters/transactionGuid'
        - $ref: '#/components/parameters/userGuid'
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/TransactionResponseBody'
          description: OK
      summary: Read managed transaction
      tags:
        - managed data
    put:
      description: Use this endpoint to update the attributes of the specified partner_managed `transaction`.
      operationId: updateManagedTransaction
      parameters:
        - $ref: '#/components/parameters/accountGuid'
        - $ref: '#/components/parameters/memberGuid'
        - $ref: '#/components/parameters/transactionGuid'
        - $ref: '#/components/parameters/userGuid'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ManagedTransactionUpdateRequestBody'
        description: Managed transaction object to be updated (While no single parameter is required, the request body can't be empty)
        required: true
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/TransactionResponseBody'
          description: OK
      summary: Update managed transaction
      tags:
        - managed data
  /users/{user_guid}/members:
    get:
      description: This endpoint returns an array which contains information on every member associated with a specific user.
      operationId: listMembers
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/recordsPerPageMax1000'
        - $ref: '#/components/parameters/userGuid'
        - $ref: '#/components/parameters/useCase'
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/MembersResponseBody'
          description: OK
      summary: List members
      tags:
        - members
    post:
      description: This endpoint allows you to create a new member. Members are created with the required parameters credentials and institution_code, and the optional parameters id and metadata. When creating a member, youll need to include the correct type of credential required by the financial institution and provided by the user. You can find out which credential type is required with the `/institutions/{institution_code}/credentials` endpoint. If successful, the MX Platform API will respond with the newly-created member object. Once you successfully create a member, MX will immediately validate the provided credentials and attempt to aggregate data for accounts and transactions.
      operationId: createMember
      parameters:
        - $ref: '#/components/parameters/xCallback'
        - $ref: '#/components/parameters/userGuid'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MemberCreateRequestBody'
        description: Member object to be created with optional parameters (id and metadata) and required parameters (credentials and institution_code)
        required: true
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/MemberResponseBody'
          description: OK
        '202':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/MemberResponseBody'
          description: Accepted
      summary: Create member
      tags:
        - members
  /users/{user_guid}/members/{member_guid}:
    delete:
      description: Accessing this endpoint will permanently delete a member.
      operationId: deleteMember
      parameters:
        - $ref: '#/components/parameters/memberGuid'
        - $ref: '#/components/parameters/userGuid'
      responses:
        '204':
          description: No Content
      summary: Delete member
      tags:
        - members
    get:
      description: Use this endpoint to read the attributes of a specific member.
      operationId: readMember
      parameters:
        - $ref: '#/components/parameters/memberGuid'
        - $ref: '#/components/parameters/userGuid'
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/MemberResponseBody'
          description: OK
      summary: Read member
      tags:
        - members
    put:
      description: Use this endpoint to update a members attributes. Only the credentials, id, and metadata parameters can be updated. To get a list of the required credentials for the member, use the list member credentials endpoint.
      operationId: updateMember
      parameters:
        - $ref: '#/components/parameters/xCallback'
        - $ref: '#/components/parameters/memberGuid'
        - $ref: '#/components/parameters/userGuid'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MemberUpdateRequestBody'
        description: Member object to be updated (While no single parameter is required, the request body can't be empty)
        required: true
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/MemberResponseBody'
          description: OK
      summary: Update member
      tags:
        - members
  /users/{user_guid}/members/{member_guid}/account_numbers:
    get:
      description: This endpoint returns a list of account numbers associated with the specified `member`.
      operationId: listAccountNumbersByMember
      parameters:
        - $ref: '#/components/parameters/memberGuid'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/recordsPerPageMax1000'
        - $ref: '#/components/parameters/userGuid'
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/AccountNumbersResponseBody'
          description: OK
      summary: List account numbers by member
      tags:
        - accounts
  /users/{user_guid}/members/{member_guid}/account_owners:
    get:
      description: This endpoint returns an array with information about every account associated with a particular member.
      operationId: listAccountOwnersByMember
      parameters:
        - $ref: '#/components/parameters/memberGuid'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/recordsPerPageMax1000'
        - $ref: '#/components/parameters/userGuid'
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/AccountOwnersResponseBody'
          description: OK
      summary: List account owners by member
      tags:
        - accounts
  /users/{user_guid}/members/{member_guid}/accounts:
    get:
      description: This endpoint returns a list of all the accounts associated with the specified `member`.
      operationId: listMemberAccounts
      parameters:
        - $ref: '#/components/parameters/memberIsManagedByUser'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/recordsPerPageMax1000'
        - $ref: '#/components/parameters/userGuid'
        - $ref: '#/components/parameters/memberGuid'
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/AccountsResponseBody'
          description: OK
      summary: List accounts by member
      tags:
        - accounts
  /users/{user_guid}/members/{member_guid}/accounts/{account_guid}:
    get:
      description: This endpoint allows you to read the attributes of an `account` resource.
      operationId: readAccountByMember
      parameters:
        - $ref: '#/components/parameters/accountGuid'
        - $ref: '#/components/parameters/memberGuid'
        - $ref: '#/components/parameters/userGuid'
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/AccountResponseBody'
          description: OK
      summary: Read account by member
      tags:
        - accounts
    put:
      description: This endpoint allows you to update certain attributes of an `account` resource, including manual accounts. For manual accounts, you can update every field listed. For aggregated accounts, you can only update `is_business`, `is_hidden` and `metadata`.
      operationId: updateAccountByMember
      parameters:
        - $ref: '#/components/parameters/accountGuid'
        - $ref: '#/components/parameters/memberGuid'
        - $ref: '#/components/parameters/userGuid'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountUpdateRequestBody'
        required: true
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/AccountResponseBody'
          description: OK
      summary: Update account by member
      tags:
        - accounts
  /users/{user_guid}/members/{member_guid}/accounts/{account_guid}/transactions/{transaction_guid}:
    put:
      description: Use this endpoint to update a specific transaction according to its unique GUID.
      operationId: updateTransactionByAccount
      parameters:
        - $ref: '#/components/parameters/userGuid'
        - $ref: '#/components/parameters/memberGuid'
        - $ref: '#/components/parameters/accountGuid'
        - $ref: '#/components/parameters/transactionGuid'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionUpdateRequestBody'
        description: Transaction object to be updated
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionResponseBody'
          description: OK
      summary: Update Transaction by Account
      tags:
        - transactions
  /users/{user_guid}/members/{member_guid}/aggregate:
    post:
      description: Calling this endpoint initiates an aggregation event for the member. This brings in the latest account and transaction data from the connected institution. If this data has recently been updated, MX may not initiate an aggregation event.
      operationId: aggregateMember
      parameters:
        - $ref: '#/components/parameters/xCallback'
        - $ref: '#/components/parameters/memberGuid'
        - $ref: '#/components/parameters/userGuid'
        - $ref: '#/components/parameters/include_holdings'
        - $ref: '#/components/parameters/include_transactions'
      responses:
        '202':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/MemberResponseBody'
          description: Accepted
      summary: Aggregate member
      tags:
        - members
  /users/{user_guid}/members/{member_guid}/challenges:
    get:
      description: Use this endpoint for information on what multi-factor authentication challenges need to be answered in order to aggregate a member. If the aggregation is not challenged, i.e., the member does not have a connection status of `CHALLENGED`, then code `204 No Content` will be returned. If the aggregation has been challenged, i.e., the member does have a connection status of `CHALLENGED`, then code `200 OK` will be returned - along with the corresponding credentials.
      operationId: listMemberChallenges
      parameters:
        - $ref: '#/components/parameters/memberGuid'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/recordsPerPageMax1000'
        - $ref: '#/components/parameters/userGuid'
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/ChallengesResponseBody'
          description: OK
      summary: List member challenges
      tags:
        - members
  /users/{user_guid}/members/{member_guid}/check_balance:
    post:
      description: This endpoint operates much like the aggregate member endpoint except that it gathers only account balance information; it does not gather any transaction data.
      operationId: checkBalances
      parameters:
        - $ref: '#/components/parameters/memberGuid'
        - $ref: '#/components/parameters/userGuid'
      responses:
        '202':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/MemberResponseBody'
          description: Accepted
      summary: Check balances
      tags:
        - members
  /users/{user_guid}/members/{member_guid}/credentials:
    get:
      description: This endpoint returns an array which contains information on every non-MFA credential associated with a specific member.
      operationId: listMemberCredentials
      parameters:
        - $ref: '#/components/parameters/memberGuid'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/recordsPerPageMax1000'
        - $ref: '#/components/parameters/userGuid'
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/CredentialsResponseBody'
          description: OK
      summary: List member credentials
      tags:
        - members
  /users/{user_guid}/members/{member_guid}/extend_history:
    post:
      description: Some institutions allow developers to access an extended transaction history with up to 24 months of data associated with a particular member. The process for fetching and then reading this extended transaction history is much like standard aggregation, and it may trigger multi-factor authentication.
      operationId: extendHistory
      parameters:
        - $ref: '#/components/parameters/memberGuid'
        - $ref: '#/components/parameters/userGuid'
      responses:
        '202':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/MemberResponseBody'
          description: Accepted
      summary: Extend history
      tags:
        - transactions
  /users/{user_guid}/members/{member_guid}/fetch_statements:
    post:
      description: Use this endpoint to fetch the statements associated with a particular member.
      operationId: fetchStatements
      parameters:
        - $ref: '#/components/parameters/memberGuid'
        - $ref: '#/components/parameters/userGuid'
      responses:
        '202':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/MemberResponseBody'
          description: Accepted
      summary: Fetch statements
      tags:
        - statements
  /users/{user_guid}/members/{member_guid}/investment_holdings:
    get:
      description: This endpoint lists all holdings associated with the specified member.
      operationId: listHoldingsByMember
      parameters:
        - $ref: '#/components/parameters/memberGuid'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/recordsPerPageMax1000'
        - $ref: '#/components/parameters/userGuid'
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/InvestmentHoldingsResponseBody'
          description: OK
      summary: List holdings by member
      tags:
        - investment holdings
  /users/{user_guid}/investment_holdings:
    get:
      description: This endpoint lists all holdings associated with the user across all accounts.
      operationId: listHoldings
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/recordsPerPageMax1000'
        - $ref: '#/components/parameters/userGuid'
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/InvestmentHoldingsResponseBody'
          description: OK
      summary: List holdings by user
      tags:
        - investment holdings
  /users/{user_guid}/investment_holdings/{holding_guid}:
    get:
      description: Use this endpoint to read the attributes of a specific `holding`.
      operationId: readHolding
      parameters:
        - $ref: '#/components/parameters/holdingGuid'
        - $ref: '#/components/parameters/userGuid'
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/InvestmentHoldingResponseBody'
          description: OK
      summary: Read holding
      tags:
        - investment holdings
  /users/{user_guid}/accounts/{account_guid}/investment_holdings:
    get:
      description: This endpoint lists all holdings associated with the particular account defined.
      operationId: listHoldingsByAccount
      parameters:
        - $ref: '#/components/parameters/accountGuid'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/recordsPerPageMax1000'
        - $ref: '#/components/parameters/userGuid'
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/InvestmentHoldingsResponseBody'
          description: OK
      summary: List holdings by account
      tags:
        - investment holdings
  /users/{user_guid}/investment_holdings_deactivate:
    get:
      description: This endpoint deactivates the specific user from the `/investment_holdings` product. To reactivate a user, use any of the current `/investment_holding` endpoints.
      operationId: deactivateUser
      parameters:
        - $ref: '#/components/parameters/userGuid'
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/InvestmentHoldingsDeactivation'
          description: OK
      summary: Deactivate user from Investment Holdings
      tags:
        - investment holdings
  /users/{user_guid}/members/{member_guid}/identify:
    post:
      description: The identify endpoint begins an identification process for an already-existing member.
      operationId: identifyMember
      parameters:
        - $ref: '#/components/parameters/memberGuid'
        - $ref: '#/components/parameters/userGuid'
      responses:
        '202':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/MemberResponseBody'
          description: Accepted
      summary: Identify member
      tags:
        - members
  /users/{user_guid}/members/{member_guid}/oauth_window_uri:
    get:
      description: This endpoint will generate an `oauth_window_uri` for the specified `member`.
      operationId: requestOAuthWindowURI
      parameters:
        - $ref: '#/components/parameters/clientRedirectUrl'
        - $ref: '#/components/parameters/enableApp2app'
        - $ref: '#/components/parameters/memberGuid'
        - $ref: '#/components/parameters/referralSource'
        - $ref: '#/components/parameters/skipAggregation'
        - $ref: '#/components/parameters/uiMessageWebviewUrlScheme'
        - $ref: '#/components/parameters/userGuid'
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/OAuthWindowResponseBody'
          description: OK
      summary: Request oauth window uri
      tags:
        - widgets
  /users/{user_guid}/members/{member_guid}/resume:
    put:
      description: This endpoint answers the challenges needed when a member has been challenged by multi-factor authentication.
      operationId: resumeAggregation
      parameters:
        - $ref: '#/components/parameters/memberGuid'
        - $ref: '#/components/parameters/userGuid'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MemberResumeRequestBody'
        description: Member object with MFA challenge answers
        required: true
      responses:
        '202':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/MemberResponseBody'
          description: Accepted
      summary: Resume aggregation
      tags:
        - members
  /users/{user_guid}/members/{member_guid}/statements:
    get:
      description: Use this endpoint to get an array of available statements.
      operationId: listStatementsByMember
      parameters:
        - $ref: '#/components/parameters/memberGuid'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/recordsPerPageMax1000'
        - $ref: '#/components/parameters/userGuid'
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/StatementsResponseBody'
          description: OK
      summary: List statements by member
      tags:
        - statements
  /users/{user_guid}/members/{member_guid}/statements/{statement_guid}:
    get:
      description: Use this endpoint to read a JSON representation of the statement.
      operationId: readStatementByMember
      parameters:
        - $ref: '#/components/parameters/memberGuid'
        - $ref: '#/components/parameters/statementGuid'
        - $ref: '#/components/parameters/userGuid'
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/StatementResponseBody'
          description: OK
      summary: Read statement by member
      tags:
        - statements
  /users/{user_guid}/members/{member_guid}/statements/{statement_guid}.pdf:
    get:
      description: Use this endpoint to download a specified statement PDF.
      operationId: downloadStatementPDF
      parameters:
        - $ref: '#/components/parameters/memberGuid'
        - $ref: '#/components/parameters/statementGuid'
        - $ref: '#/components/parameters/userGuid'
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+pdf:
              schema:
                format: binary
                type: string
          description: OK
      summary: Download statement pdf
      tags:
        - statements
  /users/{user_guid}/members/{member_guid}/status:
    get:
      description: This endpoint provides the status of the members most recent aggregation event. This is an important step in the aggregation process, and the results returned by this endpoint should determine what you do next in order to successfully aggregate a member. MX has introduced new, more detailed information on the current status of a members connection to a financial institution and the state of its aggregation - the connection_status field. These are intended to replace and expand upon the information provided in the status field, which will soon be deprecated; support for the status field remains for the time being.
      operationId: readMemberStatus
      parameters:
        - $ref: '#/components/parameters/memberGuid'
        - $ref: '#/components/parameters/userGuid'
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/MemberStatusResponseBody'
          description: OK
      summary: Read member status
      tags:
        - members
  /users/{user_guid}/members/{member_guid}/transactions:
    get:
      description: "Requests to this endpoint return a list of transactions associated with the specified `member`, across all accounts associated with that `member`. <br /><br />Enhanced transaction data may be requested using the `includes` parameter. To use this optional parameter, the value should include the optional metadata requested such as `repeating_transactions`, `merchants`, `classifications`, `geolocations`. For more information, see the [Optional Enhancement Query Parameter guide](/api-reference/platform-api/reference/transactions-overview#enhanced-transactions#optional-enhancement-query-parameter)."
      operationId: listTransactionsByMember
      parameters:
        - $ref: '#/components/parameters/memberGuid'
        - $ref: '#/components/parameters/userGuid'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/recordsPerPageMax1000'
        - $ref: '#/components/parameters/fromDate'
        - $ref: '#/components/parameters/toDate'
        - $ref: '#/components/parameters/fromCreatedAt'
        - $ref: '#/components/parameters/toCreatedAt'
        - $ref: '#/components/parameters/fromUpdatedAt'
        - $ref: '#/components/parameters/toUpdatedAt'
        - $ref: '#/components/parameters/categoryGuidQuery'
        - $ref: '#/components/parameters/categoryGuidQueryArray'
        - $ref: '#/components/parameters/topLevelCategoryGuid'
        - $ref: '#/components/parameters/topLevelCategoryGuidArray'
        - $ref: '#/components/parameters/includes'
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/TransactionsResponseBodyIncludes'
          description: OK
      summary: List transactions by member
      tags:
        - transactions
  /users/{user_guid}/members/{member_guid}/verify:
    post:
      description: The verify endpoint begins a verification process for a member.
      operationId: verifyMember
      parameters:
        - $ref: '#/components/parameters/xCallback'
        - $ref: '#/components/parameters/memberGuid'
        - $ref: '#/components/parameters/userGuid'
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/MemberResponseBody'
          description: OK
      summary: Verify member
      tags:
        - members
  /users/{user_guid}/spending_plans/{spending_plan_guid}/iterations/current/iteration_items:
    post:
      description: This endpoint creates a new `spending_plan_iteration_item`.
      operationId: createSpendingPlanIterationItem
      parameters:
        - $ref: '#/components/parameters/spendingPlanGuid'
        - $ref: '#/components/parameters/userGuid'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SpendingPlanIterationItemCreateRequestBody'
        description: Iteration item to be created with required parameter (planned_amount)
        required: true
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/SpendingPlanIterationItemResponse'
          description: OK
      summary: Create spending plan iteration item
      tags:
        - spending plan
    get:
      description: Use this endpoint to list all the spending plan `iteration_items` associated with the `iteration`.
      operationId: listSpendingPlanIterationItems
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/recordsPerPageMax1000'
        - $ref: '#/components/parameters/userGuid'
        - $ref: '#/components/parameters/spendingPlanGuid'
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/SpendingPlanIterationItemsResponseBody'
          description: OK
      summary: List spending plan iteration items
      tags:
        - spending plan
  /users/{user_guid}/spending_plans:
    post:
      description: This endpoint creates a new `spending_plan` for the user.
      operationId: createSpendingPlan
      parameters:
        - $ref: '#/components/parameters/userGuid'
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/SpendingPlanResponse'
          description: OK
      summary: Create spending plan
      tags:
        - spending plan
    get:
      description: Use this endpoint to list all the spending plans associated with the user.
      operationId: listSpendingPlans
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/recordsPerPageMax1000'
        - $ref: '#/components/parameters/userGuid'
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/SpendingPlansResponseBody'
          description: OK
      summary: List spending plans
      tags:
        - spending plan
  /users/{user_guid}/spending_plans/{spending_plan_guid}/spending_plan_accounts/{spending_plan_account_guid}:
    delete:
      description: Use this endpoint to delete a `spending_plan_account`.
      operationId: deleteSpendingPlanAccount
      parameters:
        - $ref: '#/components/parameters/userGuid'
        - $ref: '#/components/parameters/spendingPlanGuid'
        - $ref: '#/components/parameters/spendingPlanAccountGuid'
      responses:
        '204':
          description: No Content
      summary: Delete spending plan account
      tags:
        - spending plan
    get:
      description: Use this endpoint to read the attributes of a specific spending plan account according to its unique GUID.
      operationId: readSpendingPlanAccount
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/recordsPerPageMax1000'
        - $ref: '#/components/parameters/userGuid'
        - $ref: '#/components/parameters/spendingPlanGuid'
        - $ref: '#/components/parameters/spendingPlanAccountGuid'
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/SpendingPlanAccountResponse'
          description: OK
      summary: Read spending plan account
      tags:
        - spending plan
  /users/{user_guid}/spending_plans/{spending_plan_guid}/iterations/current/iteration_items/{iteration_item_guid}:
    delete:
      description: Use this endpoint to delete a spending plan `iteration_item`.
      operationId: deleteSpendingPlanIterationItem
      parameters:
        - $ref: '#/components/parameters/userGuid'
        - $ref: '#/components/parameters/spendingPlanGuid'
        - $ref: '#/components/parameters/iterationItemGuid'
      responses:
        '204':
          description: No Content
      summary: Delete spending plan iteration item
      tags:
        - spending plan
    get:
      description: Use this endpoint to read the attributes of a specific spending plan `iteration_item` according to its unique GUID.
      operationId: readSpendingPlanIterationItem
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/recordsPerPageMax1000'
        - $ref: '#/components/parameters/userGuid'
        - $ref: '#/components/parameters/spendingPlanGuid'
        - $ref: '#/components/parameters/iterationItemGuid'
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/SpendingPlanIterationItemResponse'
          description: OK
      summary: Read a spending plan iteration item
      tags:
        - spending plan
    put:
      description: Use this endpoint to update an existing `spending_plan_iteration_item`.
      operationId: updateSpendingPlanIterationItem
      parameters:
        - $ref: '#/components/parameters/userGuid'
        - $ref: '#/components/parameters/spendingPlanGuid'
        - $ref: '#/components/parameters/iterationItemGuid'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SpendingPlanIterationItemCreateRequestBody'
        description: Iteration item to be updated with required parameter (planned_amount)
        required: true
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/SpendingPlanIterationItemResponse'
          description: OK
      summary: Update a spending plan iteration item
      tags:
        - spending plan
  /users/{user_guid}/spending_plans/{spending_plan_guid}:
    delete:
      description: Use this endpoint to delete a user's `spending_plan`.
      operationId: deleteSpendingPlan
      parameters:
        - $ref: '#/components/parameters/userGuid'
        - $ref: '#/components/parameters/spendingPlanGuid'
      responses:
        '204':
          description: No Content
      summary: Delete spending plan
      tags:
        - spending plan
    get:
      description: Use this endpoint to read the attributes of a specific spending plan according to its unique GUID.
      operationId: readSpendingPlanUser
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/recordsPerPageMax1000'
        - $ref: '#/components/parameters/userGuid'
        - $ref: '#/components/parameters/spendingPlanGuid'
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/SpendingPlanResponse'
          description: OK
      summary: Read a spending plan for a user
      tags:
        - spending plan
  /users/{user_guid}/spending_plans/{spending_plan_guid}/spending_plan_accounts:
    get:
      description: Use this endpoint to list all the spending plan accounts associated with the spending plan.
      operationId: listSpendingPlanAccounts
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/recordsPerPageMax1000'
        - $ref: '#/components/parameters/userGuid'
        - $ref: '#/components/parameters/spendingPlanGuid'
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/SpendingPlanAccountsResponse'
          description: OK
      summary: List spending plan accounts
      tags:
        - spending plan
  /users/{user_guid}/spending_plans/{spending_plan_guid}/iterations:
    get:
      description: Use this endpoint to list all the spending plan `iterations` associated with the `spending_plan`.
      operationId: listSpendingPlanIterations
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/recordsPerPageMax1000'
        - $ref: '#/components/parameters/userGuid'
        - $ref: '#/components/parameters/spendingPlanGuid'
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/SpendingPlanIterationsResponse'
          description: OK
      summary: List spending plan iterations
      tags:
        - spending plan
  /users/{user_guid}/spending_plans/{spending_plan_guid}/iterations/current:
    get:
      description: Use this endpoint to read the attributes of the current spending plan `iteration`.
      operationId: readCurrentSpendingPlanIteration
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/recordsPerPageMax1000'
        - $ref: '#/components/parameters/userGuid'
        - $ref: '#/components/parameters/spendingPlanGuid'
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/SpendingPlanIterationResponse'
          description: OK
      summary: Read current spending plan iteration
      tags:
        - spending plan
  /users/{user_guid}/spending_plans/{spending_plan_guid}/iterations/{iteration_number}:
    get:
      description: Use this endpoint to read the attributes of a specific spending plan `iteration` according to its `iteration_number`.
      operationId: readSpendingPlanIteration
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/recordsPerPageMax1000'
        - $ref: '#/components/parameters/userGuid'
        - $ref: '#/components/parameters/spendingPlanGuid'
        - $ref: '#/components/parameters/iterationNumber'
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/SpendingPlanIterationResponse'
          description: OK
      summary: Read a spending plan iteration
      tags:
        - spending plan
  /users/{user_guid}/taggings:
    get:
      description: Use this endpoint to retrieve a list of all the taggings associated with a specific user.
      operationId: listTaggings
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/recordsPerPageMax1000'
        - $ref: '#/components/parameters/userGuid'
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/TaggingsResponseBody'
          description: OK
      summary: List taggings
      tags:
        - taggings
    post:
      description: Use this endpoint to create a new association between a tag and a particular transaction, according to their unique GUIDs.
      operationId: createTagging
      parameters:
        - $ref: '#/components/parameters/userGuid'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaggingCreateRequestBody'
        description: Tagging object to be created with required parameters (tag_guid and transaction_guid)
        required: true
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/TaggingResponseBody'
          description: Accepted
      summary: Create tagging
      tags:
        - taggings
  /users/{user_guid}/taggings/{tagging_guid}:
    delete:
      description: Use this endpoint to delete a tagging according to its unique GUID. If successful, the API will respond with an empty body and a status of 204 NO Content.
      operationId: deleteTagging
      parameters:
        - $ref: '#/components/parameters/taggingGuid'
        - $ref: '#/components/parameters/userGuid'
      responses:
        '204':
          description: No Content
      summary: Delete tagging
      tags:
        - taggings
    get:
      description: Use this endpoint to read the attributes of a `tagging` according to its unique GUID.
      operationId: readTagging
      parameters:
        - $ref: '#/components/parameters/taggingGuid'
        - $ref: '#/components/parameters/userGuid'
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/TaggingResponseBody'
          description: OK
      summary: Read tagging
      tags:
        - taggings
    put:
      description: Use this endpoint to update a tagging.
      operationId: updateTagging
      parameters:
        - $ref: '#/components/parameters/taggingGuid'
        - $ref: '#/components/parameters/userGuid'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaggingUpdateRequestBody'
        description: Tagging object to be updated with required parameter (tag_guid)
        required: true
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/TaggingResponseBody'
          description: OK
      summary: Update tagging
      tags:
        - taggings
  /users/{user_guid}/tags:
    get:
      description: Use this endpoint to list all tags associated with the specified `user`. Each user includes the `Business` tag by default.
      operationId: listTags
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/recordsPerPageMax1000'
        - $ref: '#/components/parameters/userGuid'
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/TagsResponseBody'
          description: OK
      summary: List tags
      tags:
        - tags
    post:
      description: Use this endpoint to create a new custom tag.
      operationId: createTag
      parameters:
        - $ref: '#/components/parameters/userGuid'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TagCreateRequestBody'
        description: Tag object to be created with required parameters (tag_guid)
        required: true
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/TagResponseBody'
          description: OK
      summary: Create tag
      tags:
        - tags
  /users/{user_guid}/tags/{tag_guid}:
    delete:
      description: Use this endpoint to permanently delete a specific tag based on its unique GUID. If successful, the API will respond with status of `204 No Content`.
      operationId: deleteTag
      parameters:
        - $ref: '#/components/parameters/tagGuid'
        - $ref: '#/components/parameters/acceptHeader'
        - $ref: '#/components/parameters/userGuid'
      responses:
        '204':
          description: No Content
      summary: Delete tag
      tags:
        - tags
    get:
      description: Use this endpoint to read the attributes of a particular tag according to its unique GUID.
      operationId: readTag
      parameters:
        - $ref: '#/components/parameters/tagGuid'
        - $ref: '#/components/parameters/userGuid'
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/TagResponseBody'
          description: OK
      summary: Read tag
      tags:
        - tags
    put:
      description: Use this endpoint to update the name of a specific tag according to its unique GUID.
      operationId: updateTag
      parameters:
        - $ref: '#/components/parameters/tagGuid'
        - $ref: '#/components/parameters/userGuid'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TagUpdateRequestBody'
        description: Tag object to be updated with required parameter (tag_guid)
        required: true
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/TagResponseBody'
          description: OK
      summary: Update tag
      tags:
        - tags
  /users/{user_guid}/tags/{tag_guid}/transactions:
    get:
      description: "Use this endpoint to get a list of all transactions associated with a particular tag according to the tag's unique GUID. This lists all transactions that have been assigned to a particular tag using the create tagging endpoint. <br /><br />Enhanced transaction data may be requested using the `includes` parameter. To use this optional parameter, the value should include the optional metadata requested such as `repeating_transactions`, `merchants`, `classifications`, `geolocations`. For more information, see the [Optional Enhancement Query Parameter guide](/api-reference/platform-api/reference/transactions-overview#enhanced-transactions#optional-enhancement-query-parameter)."
      operationId: listTransactionsByTag
      parameters:
        - $ref: '#/components/parameters/userGuid'
        - $ref: '#/components/parameters/tagGuid'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/recordsPerPageMax1000'
        - $ref: '#/components/parameters/fromDate'
        - $ref: '#/components/parameters/toDate'
        - $ref: '#/components/parameters/fromCreatedAt'
        - $ref: '#/components/parameters/toCreatedAt'
        - $ref: '#/components/parameters/fromUpdatedAt'
        - $ref: '#/components/parameters/toUpdatedAt'
        - $ref: '#/components/parameters/categoryGuidQuery'
        - $ref: '#/components/parameters/categoryGuidQueryArray'
        - $ref: '#/components/parameters/topLevelCategoryGuid'
        - $ref: '#/components/parameters/topLevelCategoryGuidArray'
        - $ref: '#/components/parameters/useCase'
        - $ref: '#/components/parameters/includes'
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/TransactionsResponseBodyIncludes'
          description: OK
      summary: List transactions by tag
      tags:
        - transactions
  /users/{user_guid}/transaction_rules:
    get:
      description: Use this endpoint to read the attributes of all existing transaction rules belonging to the user.
      operationId: listTransactionRules
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/recordsPerPageMax1000'
        - $ref: '#/components/parameters/userGuid'
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/TransactionRulesResponseBody'
          description: OK
      summary: List transaction rules
      tags:
        - transaction rules
    post:
      description: Use this endpoint to create a new transaction rule. The newly-created `transaction_rule` object will be returned if successful.
      operationId: createTransactionRule
      parameters:
        - $ref: '#/components/parameters/userGuid'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionRuleCreateRequestBody'
        description: TransactionRule object to be created with optional parameters (description) and required parameters (category_guid and match_description)
        required: true
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/TransactionRuleResponseBody'
          description: OK
      summary: Create transaction rule
      tags:
        - transaction rules
  /users/{user_guid}/transaction_rules/{transaction_rule_guid}:
    delete:
      description: Use this endpoint to permanently delete a transaction rule based on its unique GUID.
      operationId: deleteTransactionRule
      parameters:
        - $ref: '#/components/parameters/transactionRuleGuid'
        - $ref: '#/components/parameters/userGuid'
      responses:
        '204':
          description: No Content
      summary: Delete transaction rule
      tags:
        - transactions
    get:
      description: Use this endpoint to read the attributes of an existing transaction rule based on the rule’s unique GUID.
      operationId: readTransactionRule
      parameters:
        - $ref: '#/components/parameters/transactionRuleGuid'
        - $ref: '#/components/parameters/userGuid'
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/TransactionRuleResponseBody'
          description: OK
      summary: Read transaction rule
      tags:
        - transaction rules
    put:
      description: Use this endpoint to update the attributes of a specific transaction rule based on its unique GUID. The API will respond with the updated transaction_rule object. Any attributes not provided will be left unchanged.
      operationId: updateTransactionRule
      parameters:
        - $ref: '#/components/parameters/transactionRuleGuid'
        - $ref: '#/components/parameters/userGuid'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionRuleUpdateRequestBody'
        description: TransactionRule object to be updated
        required: true
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/TransactionRuleResponseBody'
          description: OK
      summary: Update transaction rule
      tags:
        - transaction rules
  /users/{user_guid}/transactions:
    get:
      description: "Requests to this endpoint return a list of transactions associated with the specified `user`, across all members and accounts associated with that `user`. <br /><br />Enhanced transaction data may be requested using the `includes` parameter. To use this optional parameter, the value should include the optional metadata requested such as `repeating_transactions`, `merchants`, `classifications`, `geolocations`. For more information, see the [Optional Enhancement Query Parameter guide](/api-reference/platform-api/reference/transactions-overview#enhanced-transactions#optional-enhancement-query-parameter)."
      operationId: listTransactions
      parameters:
        - $ref: '#/components/parameters/userGuid'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/recordsPerPageMax1000'
        - $ref: '#/components/parameters/fromDate'
        - $ref: '#/components/parameters/toDate'
        - $ref: '#/components/parameters/fromCreatedAt'
        - $ref: '#/components/parameters/toCreatedAt'
        - $ref: '#/components/parameters/fromUpdatedAt'
        - $ref: '#/components/parameters/toUpdatedAt'
        - $ref: '#/components/parameters/categoryGuidQuery'
        - $ref: '#/components/parameters/categoryGuidQueryArray'
        - $ref: '#/components/parameters/topLevelCategoryGuid'
        - $ref: '#/components/parameters/topLevelCategoryGuidArray'
        - $ref: '#/components/parameters/useCase'
        - $ref: '#/components/parameters/includes'
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/TransactionsResponseBodyIncludes'
          description: OK
      summary: List transactions
      tags:
        - transactions
  /users/{user_guid}/transactions/{transaction_guid}:
    parameters:
      - $ref: '#/components/parameters/userGuid'
      - $ref: '#/components/parameters/transactionGuid'
    get:
      description: "Requests to this endpoint will return the attributes of the specified `transaction`. To read a manual transaction, use the manual transaction guid in the path as the `transactionGuid`. <br /><br />Enhanced transaction data may be requested using the `includes` parameter. To use this optional parameter, the value should include the optional metadata requested such as `repeating_transactions`, `merchants`, `classifications`, `geolocations`. For more information, see the [Optional Enhancement Query Parameter guide](/api-reference/platform-api/reference/transactions-overview#enhanced-transactions#optional-enhancement-query-parameter)."
      operationId: readTransaction
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/TransactionsResponseBodyIncludes'
          description: OK
      summary: Read transaction
      tags:
        - transactions
      parameters:
        - $ref: '#/components/parameters/includes'
    put:
      description: Use this endpoint to update a specific transaction according to its unique GUID.
      operationId: updateTransaction
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionUpdateRequestBody'
        description: Transaction object with the fields to be updated.
        required: true
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/TransactionResponseBody'
          description: OK
      summary: Update transaction
      tags:
        - transactions
    delete:
      tags:
        - transactions
      operationId: deleteManualTransactions
      summary: Delete manual transactions
      description: Delete a manual transaction. In the path, use the manual transaction guid as the `transaction_guid`, such as `MAN-810828b0-5210-4878-9bd3-f4ce514f90c4`.
      responses:
        '204':
          description: No content
  /users/{user_guid}/widget_urls:
    post:
      description: |
        Get an embeddable URL for integrating a widget into your website or app. The URL expires after ten minutes or upon first use, whichever occurs first. You'll need to obtain a new URL each time the page loads or reloads.

[...]
