openapi: 3.0.0
info:
  contact:
    name: MX Platform API
    url: https://www.mx.com/products/platform-api
  description: |
    The MX Platform API is a powerful, fully-featured API designed to make aggregating and enhancing financial data easy and reliable. It can seamlessly connect your app or website to tens of thousands of financial institutions.

    ## What's Changed?

    Several endpoints, headers, and fields changed in `v20250224`. For more on breaking changes, refer to our [versioning](https://docs.mx.com/api-reference/platform-api/overview/versioning#v20250224) and [migration](https://docs.mx.com/api-reference/platform-api/overview/migration) guides.

    ## Version Header
    Versions are set in the `Accept-Version` header of API requests. Version numbers correspond with the date associated with that version.  The example below uses the version `v20250224`.

    ```
    -H 'Accept: application/json'
    -H 'Accept-Version: v20250224'
    ```

    ---
  title: MX Platform API
  version: '20250224'
servers:
  - url: https://int-api.mx.com
  - url: https://api.mx.com
security:
  - basicAuth: []
tags:
  - name: authorization
  - name: accounts
    description: |
      The Accounts endpoints represent a user's checking, savings, mortgage, 401(k), or other types of accounts held by a financial institution.

      An account belongs to a `member`, which represents the user's overall relationship with a particular financial institution. A checking account may be just one part of a larger relationship that could also include a car loan and a savings account.

      Accounts—and the transactions associated with them—are updated every 24 hours, unless the associated `user` is disabled.

      You can also create manual accounts. Since a manual account has no credentials tied to the member, the account will never aggregate or include data from a data feed. All manual accounts are automatically created under the Manual Institution member.
  - name: ach return
    description: |
      The features documented here are in a beta state, and this documentation is considered draft material subject to frequent change.

      Using our Platform API, you can securely submit ACH Returns to reduce your ACH return rates and automate your ACH return process.

      You can query the status and outcomes of your submitted ACH returns to track progress and access resolution details.
  - name: budgets
    description: |
      Use these endpoints to create and manage budgets for your end users.

      You can create a budget for a specific category or autogenerate a budget for several categories based on existing transactions.

      Each budget has a `category_guid`, relating to one of the [categories](docs.mx.com/api-reference/platform-api/reference/default-categories/).
  - name: categories
    description: |
      A `transaction` can have its `category` set to one of MX’s default categories or a custom category for a specific `user`. 

      See [Default Categories and Subcategories](docs.mx.com/api-reference/platform-api/reference/default-categories/) for a complete list.
  - name: deprecated
  - name: goals
    description: |
      Use these endpoints to create and manage goals for a `user`. You can also reposition goals to adjust their priority levels.

      Every goal has a track type and a meta type.

      The [track type](docs.mx.com/api-reference/platform-api/reference/goal-fields/#goal-track-type) is the overall classification of the goal (debt, savings, retirement, or emergency fund) while the [meta type](/api-reference/platform-api/reference/goal-fields/#goal-meta-type) is the specific classification (like college, house, vacation, and so on).
  - name: insights
    description: |
      Use these endpoints to build customizable user experiences in UIs powered by our Financial Insights data.

      With Financial Insights, your users will receive personalized insights based on their transaction history.

      Want to learn more about the product? See [Financial Insights](docs.mx.com/products/experience/insights).

      Looking for a guide to use these endpoints? See [Build Your Own Insights UI](docs.mx.com/products/experience/insights/developer-guides/insights-api-guide).
  - name: institutions
    description: |
      Institutions represent a financial institution.

      A single real-world financial institution may have several `institution` objects on the MX platform.

      For example, the mortgage division of a financial institution might use a separate system than its everyday banking division, which is different from its credit card division.

      For more info, see [Institutions Overview](docs.mx.com/api-reference/reference/institutions).
  - name: investment holdings
    description: |
      Investment Data Enhancement lets you connect to an end user's financial institution and retrieve cleansed and enhanced investment data. By combining investment data with retail banking information, you get comprehensive insights into customer financial behaviors, risk tolerance, and investment strategies.

      You can [read a user's holding](docs.mx.com/api-reference/platform-api/reference/read-holding), [list all their holdings](docs.mx.com/api-reference/platform-api/reference/list-holdings), or list their holdings by [account](docs.mx.com/api-reference/platform-api/reference/list-holdings-by-account) or [member](docs.mx.com/api-reference/platform-api/reference/list-holdings-by-member).

      You can also [deactivate a user](docs.mx.com/api-reference/platform-api/reference/deactivate-user) from the Investment Data Enhancement. This is non-billable.
  - name: managed data
  - name: members
    description: |
      Members represent the connection between an end user and a financial institution. This institution may represent your institution or another one from which MX is aggregating data.

      For more info, see [Members Overview](docs.mx.com/api-reference/reference/members).
  - name: merchants
    description: |
      Merchants are representations of a transaction’s origin. For example, if you buy a coffee at Starbucks, the transaction merchant will be `Starbucks`.

      Use the `merchant_guid` and a `merchant_location_guidon` any `transaction` object to access Merchant endpoints for details like the merchant’s name, logo URL, website, street address, and more.
  - name: microdeposits
    description: |
      Microdeposits is an additional verification method that allows you to verify account details and navigate the process of using microdeposits and the automated clearing house (ACH) system. 

      Make two, small ACH deposits into a consumer's account using the provided account and routing number. You can then require that the end user confirm the exact amount of each deposit to verify that they own the account and meet NACHA’s account verification.

      For more info, including process flows, setting block lists, and more, see [Microdeposits](docs.mx.com/products/connectivity/microdeposits).
  - name: monthly cash flow profile
  - name: notifications
    description: |
      You can only use notifications endpoints if you’re using the MX mobile application.

      All notifications created through the API will be of notification type `API_NOTIFICATION`, channel `PUSH`, and will not be associated to an entity. No other channels are supported.

      The read and list endpoints can return any notification associated with the `user`, including notifications created by MX for other channels besides `PUSH`.
  - name: processor token
  - name: rewards
  - name: spending plan
    description: |
      Use the Spending Plan endpoints to create your own version of our [Spending Plan Widget](docs.mx.com/products/experience/pfm/legacy-widget-overviews/spending-plan), which helps end users track their spending throughout the month.

      To understand key terms and how to best use these endpoints, see [Build Your Own Spending Plan UI](docs.mx.com/products/experience/pfm/developer-guides/build-your-own-spending-plan-ui).
  - name: statements
    description: |
      With Statements, you can retrieve a user's monthly account statements in PDF format. This data can be used for solutions like personal financial management or risk analysis.
  - name: taggings
    description: |
      Tags and taggings are two resources in the MX Platform API that, when used together, give end users more control over organizing their transactions. 

      A tag is a custom label that can be applied to a transaction.

      After you create a tag, use it for tagging. This means you should actually apply the tag to a particular transaction.

      Together, they're a powerful tool for personalization, customization, and money management.

      For a guide on creating a tag and then applying it to a specific transaction with a tagging, see [Custom Tags and Taggings](docs.mx.com/products/experience/pfm/developer-guides/personalization/).
  - name: tags
    description: |
      Tags and taggings are two resources in the MX Platform API that, when used together, give end users more control over organizing their transactions. 

      A tag is a custom label that can be applied to a transaction.

      After you create a tag, use it for tagging. This means you should actually apply the tag to a particular transaction.

      Together, they're a powerful tool for personalization, customization, and money management.

      For a guide on creating a tag and then applying it to a specific transaction with a tagging, see [Custom Tags and Taggings](docs.mx.com/products/experience/pfm/developer-guides/personalization/).
  - name: transaction rules
    description: |
      Transaction Rules allow users to automatically recategorize or rename all similar transactions according to their preferences. This only applies to future transactions.

      When recategorizing or renaming a transaction, the user will be asked whether they want the new data to apply to the selected transaction or to all future transactions. If they choose to apply it to all future transactions, it will create a transaction rule which will automatically apply the changes going forward.
  - name: transactions
    description: |
      Transactions represent any instance in which money moves into or out of an account. This could be a purchase at a business, a payroll deposit, a transfer from one account to another, an ATM withdrawal, and so on.

      Transactions are created automatically when a member is successfully aggregated.

      Each `transaction` belongs to only one `account`.

      For more info, see [Transactions Overview](docs.mx.com/api-reference/reference/transactions).
  - name: users
    description: |
      Users represent an end user using the Platform API through your web or mobile app.

      Users are created by MX clients and belong to a specific [client](docs.mx.com/products/connectivity/overview/introduction/data-architecture/#clients) on the platform.
  - name: verifiable credentials
    description: |
      MX provides Verifiable Credential endpoints that comply with web5 standards. 

      For more info, see [Verifiable Credentials Overview](docs.mx.com/api-reference/reference/verifiable-credentials).
  - name: widgets
    description: |
      Use the [Request Widget URL](docs.mx.com/api-reference/platform-api/reference/request-widget-url) endpoint to generate a URL that loads one of our widgets.

      Many request body parameters only work for some widgets.

      For more info, including widget types, see [Widgets Overview](docs.mx.com/api-reference/reference/widgets).
paths:
  /authorization_code:
    post:
      description: Clients use this endpoint to request an authorization code according to the parameters specified in the scope. Clients then pass this code to processors. Processor access is scoped only to the GUIDs and features specified in this request. Before requesting an authorization code which includes a member in the scope, clients must have verified that member.
      operationId: requestAuthorizationCode
      parameters:
        - $ref: '#/components/parameters/acceptVersion'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthorizationCodeRequestBody'
        description: The scope for the authorization code.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorizationCodeResponseBody'
          description: OK
      summary: Request an authorization code
      tags:
        - processor token
  /ach_returns/{ach_return_guid}:
    get:
      description: |
        :::warning
        The features documented here are in a beta state, and this documentation is considered draft material subject to frequent change.
        :::
        Use this endpoint to get an ACH return by its `guid` or `id`.
      operationId: readACHRetrun
      parameters:
        - $ref: '#/components/parameters/achReturnGuid'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ACHReturnResponseBody'
          description: OK
      summary: Read ACH Return
      tags:
        - ach return
  /ach_returns:
    get:
      description: |
        :::warning
        The features documented here are in a beta state, and this documentation is considered draft material subject to frequent change.
        :::
        Use this endpoint to get all ACH returns.
      operationId: listACHRetruns
      parameters:
        - $ref: '#/components/parameters/institutionGuid'
        - $ref: '#/components/parameters/returnedAt'
        - $ref: '#/components/parameters/resolvedStatusAt'
        - $ref: '#/components/parameters/returnCode'
        - $ref: '#/components/parameters/returnStatus'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/recordsPerPage'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ACHReturnsResponseBody'
          description: OK
      summary: List ACH Returns
      tags:
        - ach return
    post:
      description: |
        :::warning
        The features documented here are in a beta state, and this documentation is considered draft material subject to frequent change.
        :::

        Use this endpoint to create an ACH return in our system.
      operationId: createACHReturn
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ACHReturnCreateRequestBody'
        description: ACH return object to be created.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ACHReturnResponseBody'
          description: OK
      summary: Create ACH Return
      tags:
        - ach return
  /categories/default:
    get:
      description: Use this endpoint to retrieve a list of all the default categories and subcategories offered within the MX Platform API. In other words, each item in the returned list will have its `is_default` field set to `true`. There are currently 119 default categories and subcategories. Both the _list default categories_ and _list default categories by user_ endpoints return the same results. The different routes are provided for convenience.
      operationId: listDefaultCategories
      parameters:
        - $ref: '#/components/parameters/acceptVersion'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/recordsPerPage'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoriesResponseBody'
          description: OK
      summary: List default categories
      tags:
        - categories
  /categories/{category_guid}:
    get:
      description: Use this endpoint to read the attributes of a default category.
      operationId: readDefaultCategory
      parameters:
        - $ref: '#/components/parameters/acceptVersion'
        - $ref: '#/components/parameters/categoryGuid'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoryResponseBody'
          description: OK
      summary: Read a default category
      tags:
        - categories
  /institutions:
    get:
      description: Lists financial institutions available through the MX platform. This endpoint has been updated in `v20250224` to enhance search and filtering capabilities based on the products supported by each institution.
      operationId: listInstitutions
      parameters:
        - $ref: '#/components/parameters/acceptVersion'
        - $ref: '#/components/parameters/institutionName'
        - $ref: '#/components/parameters/isoCountryCode'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/recordsPerPage'
        - $ref: '#/components/parameters/supportedProducts'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstitutionsResponseBody'
          description: OK
      summary: List institutions
      tags:
        - institutions
  /institutions/favorites:
    get:
      description: This endpoint returns a paginated list containing institutions that have been set as favorites, sorted by popularity. Please contact MX to set a list of favorites.
      operationId: listFavoriteInstitutions
      parameters:
        - $ref: '#/components/parameters/isoCountryCode'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/recordsPerPage'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstitutionsResponseBody'
          description: OK
      summary: List favorite institutions
      tags:
        - institutions
  /institutions/{institution_code}:
    get:
      description: This endpoint returns information about the institution specified by `institution_code`. The `v20250224` update enhances the granularity of the information provided about the services and products supported by the institution.
      operationId: readInstitution
      parameters:
        - $ref: '#/components/parameters/acceptVersion'
        - $ref: '#/components/parameters/institutionCode'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstitutionResponseBody'
          description: OK
      summary: Read institution
      tags:
        - institutions
  /institutions/{institution_identifier}/credentials:
    get:
      description: |
        Use this endpoint to see which credentials will be needed to create a member for a specific institution.

        Passing an invalid `institution_identifier` returns a `404`.
      operationId: listInstitutionCredentials
      parameters:
        - $ref: '#/components/parameters/acceptVersion'
        - $ref: '#/components/parameters/institutionIdentifier'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/recordsPerPageMax1000'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CredentialsResponseBody'
          description: OK
      summary: List institution credentials
      tags:
        - institutions
  /managed_institutions:
    get:
      description: |
        This endpoint returns a list of institutions which can be used to create partner-managed members.
        :::warning Deprecated
        This endpoint has been deprecated. For more information, reference the [Migration guide](https://docs.mx.com/api-reference/platform-api/overview/migration)
        :::
      operationId: listManagedInstitutions
      parameters:
        - $ref: '#/components/parameters/acceptVersion'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/recordsPerPageMax1000'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstitutionsResponseBody'
          description: OK
      summary: List managed institutions
      tags:
        - managed data [deprecated]
      deprecated: true
  /merchant_locations/{merchant_location_guid}:
    get:
      description: This endpoint returns the specified `merchant_location` resource. The `merchant_location_guid` can be found on `transaction` objects.
      operationId: readMerchantLocation
      parameters:
        - $ref: '#/components/parameters/acceptVersion'
        - $ref: '#/components/parameters/merchantLocationGuid'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MerchantLocationResponseBody'
          description: OK
      summary: Read merchant location
      tags:
        - merchants
  /merchants:
    get:
      description: This endpoint returns a paginated list of all the merchants in the MX system.
      operationId: listMerchants
      parameters:
        - $ref: '#/components/parameters/acceptVersion'
        - $ref: '#/components/parameters/merchantName'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/recordsPerPageMax1000'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MerchantsResponseBody'
          description: OK
      summary: List merchants
      tags:
        - merchants
  /merchants/{merchant_guid}:
    get:
      description: Returns information about a particular merchant, such as a logo, name, and website.
      operationId: readMerchant
      parameters:
        - $ref: '#/components/parameters/acceptVersion'
        - $ref: '#/components/parameters/merchantGuid'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MerchantResponseBody'
          description: OK
      summary: Read merchant
      tags:
        - merchants
  /transactions/enhance:
    post:
      description: Use this endpoint to categorize, cleanse, and classify transactions. These transactions are not persisted or stored on the MX platform. <br /><br />For more information on returned data, please see the [Enhanced Transactions guide](https://docs.mx.com/api-reference/platform-api/reference/transactions-overview#enhanced-transactions).
      operationId: enhanceTransactions
      parameters:
        - $ref: '#/components/parameters/acceptVersion'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnhanceTransactionsRequestBody'
        description: Transaction object to be enhanced
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnhanceTransactionsResponseBody'
          description: OK
      summary: Enhance transactions
      tags:
        - transactions
  /users:
    get:
      description: Use this endpoint to list every user you've created in the MX Platform API.
      operationId: listUsers
      parameters:
        - $ref: '#/components/parameters/acceptVersion'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/recordsPerPageMax1000'
        - $ref: '#/components/parameters/userId'
        - $ref: '#/components/parameters/userEmail'
        - $ref: '#/components/parameters/userIsDisabled'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersResponseBody'
          description: OK
      summary: List users
      tags:
        - users
    post:
      description: Use this endpoint to create a new user. The API will respond with the newly-created user object if successful, containing a `guid` that you'll set as the `user_guid` in other requests when required. Disabling a user means that accounts and transactions associated with it will not be updated in the background by MX. It will also restrict access to that user’s data until they are no longer disabled.
      operationId: createUser
      parameters:
        - $ref: '#/components/parameters/acceptVersion'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserCreateRequestBody'
        description: User object to be created. (None of these parameters are required, but the user object cannot be empty)
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponseBody'
          description: OK
      summary: Create user
      tags:
        - users
  /users/{user_identifier}:
    delete:
      description: |
        Use this endpoint to delete the specified `user`. The response will have a status of `204 No Content` without an object.

        :::warning
        Deleting a user is permanent. Deleted users can never be restored. For more info, see [Deleting Objects](https://docs.mx.com/api-reference/platform-api/overview/deleting-objects).
        :::
      operationId: deleteUser
      parameters:
        - $ref: '#/components/parameters/acceptVersion'
        - $ref: '#/components/parameters/acceptHeader'
        - $ref: '#/components/parameters/userIdentifier'
      responses:
        '204':
          description: No Content
      summary: Delete user
      tags:
        - users
    get:
      description: Use this endpoint to read the attributes of a specific user.
      operationId: readUser
      parameters:
        - $ref: '#/components/parameters/acceptVersion'
        - $ref: '#/components/parameters/userIdentifier'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponseBody'
          description: OK
      summary: Read user
      tags:
        - users
    put:
      description: Use this endpoint to update the attributes of the specified user.
      operationId: updateUser
      parameters:
        - $ref: '#/components/parameters/acceptVersion'
        - $ref: '#/components/parameters/userIdentifier'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserUpdateRequestBody'
        description: User object to be updated (None of these parameters are required, but the user object cannot be empty.)
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponseBody'
          description: OK
      summary: Update user
      tags:
        - users
  /users/{user_identifier}/accounts:
    get:
      description: |
        This endpoint returns a list of all the accounts associated with the specified `user`.
        :::warning Account Numbers
        This request will not return the full account number. It may return the last four digits of the account number if that information has been provided during aggregation. If you need the full account number, please refer to [List account numbers by member](https://docs.mx.com/api-reference/platform-api/reference/list-account-numbers-by-member/), [List account numbers by account](https://docs.mx.com/api-reference/platform-api/reference/list-account-numbers-by-account/), or the [Fetch Account and Routing Numbers](https://docs.mx.com/products/connectivity/instant-account-verification/fetch-account-routing-number-api/#4-read-the-account-numbers) guide.
        :::
      operationId: listUserAccounts
      parameters:
        - $ref: '#/components/parameters/acceptVersion'
        - $ref: '#/components/parameters/acceptHeader'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/memberIsManagedByUser'
        - $ref: '#/components/parameters/accountIsManual'
        - $ref: '#/components/parameters/recordsPerPageMax1000'
        - $ref: '#/components/parameters/userIdentifier'
        - $ref: '#/components/parameters/useCase'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsResponseBody'
          description: OK
          headers:
            acceptVersion:
              schema:
                $ref: '#/components/schemas/acceptVersion'
      summary: List accounts
      tags:
        - accounts
    post:
      description: |
        This endpoint can only be used to create manual accounts. Creating a manual account will automatically create it under the Manual Institution member. Since a manual account has no credentials tied to the member, the account will never aggregate or include data from a data feed.
        :::warning
        You must use the user `guid` when setting `user_identifier` in the path.
        :::
      operationId: createManualAccount
      parameters:
        - $ref: '#/components/parameters/acceptVersion'
        - $ref: '#/components/parameters/userIdentifier'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountCreateRequestBody'
        description: Manual account object to be created.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountResponseBody'
          description: OK
      summary: Create manual account
      tags:
        - accounts
  /users/{user_guid}/accounts/{account_guid}:
    get:
      description: This endpoint returns the specified `account` resource.
      operationId: readAccount
      parameters:
        - $ref: '#/components/parameters/acceptVersion'
        - $ref: '#/components/parameters/accountGuid'
        - $ref: '#/components/parameters/userGuid'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountResponseBody'
          description: OK
      summary: Read account
      tags:
        - accounts
    delete:
      description: This endpoint deletes accounts that were manually created. The API will respond with an empty object and a status of `204 No Content`.
      operationId: deleteManualAccount
      parameters:
        - $ref: '#/components/parameters/acceptVersion'
        - $ref: '#/components/parameters/accountGuid'
        - $ref: '#/components/parameters/acceptHeader'
        - $ref: '#/components/parameters/userGuid'
      responses:
        '204':
          description: No content.
      summary: Delete manual account
      tags:
        - accounts
  /users/{user_identifier}/accounts/{account_identifier}/account_numbers:
    get:
      description: This endpoint returns a list of account numbers associated with the specified `account`.
      operationId: listAccountNumbersByAccount
      parameters:
        - $ref: '#/components/parameters/acceptVersion'
        - $ref: '#/components/parameters/accountIdentifier'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/recordsPerPageMax1000'
        - $ref: '#/components/parameters/userIdentifier'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountNumbersResponseBody'
          description: OK
      summary: List account numbers by account
      tags:
        - accounts
  /users/{user_guid}/accounts/{account_guid}/insights:
    get:
      description: Use this endpoint to list all insights associated with an account GUID.
      operationId: listInsightsByAccount
      parameters:
        - $ref: '#/components/parameters/acceptVersion'
        - $ref: '#/components/parameters/accountGuid'
        - $ref: '#/components/parameters/userGuid'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/recordsPerPage'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsightsResponseBody'
          description: OK
      summary: List insights by account
      tags:
        - insights
  /users/{user_guid}/accounts/merge:
    post:
      operationId: mergeAccounts
      tags:
        - accounts
      summary: Merge accounts
      description: |
        Merge two or more financial accounts that an end user has identified as duplicates. 
        Provide at least two account GUIDs belonging to the same user. 
        :::danger

        The response will return a single consolidated account. Any other accounts you provided that were not included in the response will be deleted.
        This is a destructive action and can't be undone.

        :::
      parameters:
        - $ref: '#/components/parameters/acceptVersion'
        - $ref: '#/components/parameters/userGuid'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountsMergeRequestBody'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountResponseBody'
  /users/{user_guid}/accounts/{account_guid}/transactions:
    post:
      operationId: createManualTransaction
      tags:
        - transactions
      summary: Create manual transaction
      description: |
        This endpoint can only be used to create manual transactions that are under a manual account. This endpoint accepts the optional MX-Skip-Webhook header and `skip_webhook` parameter.
      parameters:
        - $ref: '#/components/parameters/acceptVersion'
        - $ref: '#/components/parameters/userGuid'
        - $ref: '#/components/parameters/accountGuid'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionCreateRequestBody'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionCreateResponseBody'
    get:
      description: |
        Requests to this endpoint return a list of transactions associated with the specified account. <br /><br />Enhanced transaction data may be requested using the `includes` parameter. 
        To use this optional parameter, the value should include the optional metadata requested such as `repeating_transactions`, `merchants`, `classifications`, `geolocations`.
        For more information, see the Optional Enhancement Query Parameter guide.
      operationId: listTransactionsByAccount
      parameters:
        - $ref: '#/components/parameters/acceptVersion'
        - $ref: '#/components/parameters/userGuid'
        - $ref: '#/components/parameters/accountGuid'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/recordsPerPageMax1000'
        - $ref: '#/components/parameters/fromDateUnix'
        - $ref: '#/components/parameters/toDateUnix'
        - $ref: '#/components/parameters/fromCreatedAt'
        - $ref: '#/components/parameters/toCreatedAt'
        - $ref: '#/components/parameters/fromUpdatedAt'
        - $ref: '#/components/parameters/toUpdatedAt'
        - $ref: '#/components/parameters/includes'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionsResponseBodyIncludes'
          description: OK
      summary: List transactions by account
      tags:
        - transactions
  /users/{user_guid}/members/{member_guid}/accounts/{account_guid}/transactions:
    get:
      description: |
        Requests to this endpoint return a list of transactions associated with the specified account. <br /><br />Enhanced transaction data may be requested using the `includes` parameter. 
        To use this optional parameter, the value should include the optional metadata requested such as `repeating_transactions`, `merchants`, `classifications`, `geolocations`.
        For more information, see the Optional Enhancement Query Parameter guide.
      operationId: listTransactionsByAccountPerMember
      parameters:
        - $ref: '#/components/parameters/acceptVersion'
        - $ref: '#/components/parameters/userGuid'
        - $ref: '#/components/parameters/accountGuid'
        - $ref: '#/components/parameters/memberGuid'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/recordsPerPageMax1000'
        - $ref: '#/components/parameters/fromDateUnix'
        - $ref: '#/components/parameters/toDateUnix'
        - $ref: '#/components/parameters/fromCreatedAt'
        - $ref: '#/components/parameters/toCreatedAt'
        - $ref: '#/components/parameters/fromUpdatedAt'
        - $ref: '#/components/parameters/toUpdatedAt'
        - $ref: '#/components/parameters/includes'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionsResponseBodyIncludes'
          description: OK
      summary: List transactions by account per member
      tags:
        - transactions
  /users/{user_guid}/categories:
    get:
      description: Use this endpoint to list all categories associated with a `user`, including both default and custom categories.
      operationId: listCategories
      parameters:
        - $ref: '#/components/parameters/acceptVersion'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/recordsPerPageMax1000'
        - $ref: '#/components/parameters/userGuid'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoriesResponseBody'
          description: OK
      summary: List categories
      tags:
        - categories
    post:
      description: Use this endpoint to create a new custom category for a specific `user`.
      operationId: createCategory
      parameters:
        - $ref: '#/components/parameters/acceptVersion'
        - $ref: '#/components/parameters/userGuid'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CategoryCreateRequestBody'
        description: Custom category object to be created
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoryResponseBody'
          description: OK
      summary: Create category
      tags:
        - categories
  /users/{user_guid}/categories/default:
    get:
      description: Use this endpoint to retrieve a list of all the default categories and subcategories, scoped by user, offered within the MX Platform API. In other words, each item in the returned list will have its `is_default` field set to `true`. There are currently 119 default categories and subcategories. Both the _list default categories_ and _list default categories by user_ endpoints return the same results. The different routes are provided for convenience.
      operationId: listDefaultCategoriesByUser
      parameters:
        - $ref: '#/components/parameters/acceptVersion'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/recordsPerPageMax1000'
        - $ref: '#/components/parameters/userGuid'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoriesResponseBody'
          description: OK
      summary: List default categories by user
      tags:
        - categories
  /users/{user_guid}/categories/{category_guid}:
    delete:
      description: Use this endpoint to delete a specific custom category according to its unique GUID. The API will respond with an empty object and a status of `204 No Content`.
      operationId: deleteCategory
      parameters:
        - $ref: '#/components/parameters/acceptVersion'
        - $ref: '#/components/parameters/categoryGuid'
        - $ref: '#/components/parameters/userGuid'
      responses:
        '204':
          description: No Content
      summary: Delete category
      tags:
        - categories
    get:
      description: Use this endpoint to read the attributes of either a default category or a custom category.
      operationId: readCategory
      parameters:
        - $ref: '#/components/parameters/acceptVersion'
        - $ref: '#/components/parameters/categoryGuid'
        - $ref: '#/components/parameters/userGuid'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoryResponseBody'
          description: OK
      summary: Read a custom category
      tags:
        - categories
    put:
      description: Use this endpoint to update the attributes of a custom category according to its unique GUID.
      operationId: updateCategory
      parameters:
        - $ref: '#/components/parameters/acceptVersion'
        - $ref: '#/components/parameters/categoryGuid'
        - $ref: '#/components/parameters/userGuid'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CategoryUpdateRequestBody'
        description: Category object to be updated (While no single parameter is required, the `category` object cannot be empty)
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoryResponseBody'
          description: OK
      summary: Update category
      tags:
        - categories
  /users/{user_guid}/insights:
    get:
      description: Use this endpoint to list all the insights associated with the user.
      operationId: listInsightsUser
      parameters:
        - $ref: '#/components/parameters/acceptVersion'
        - $ref: '#/components/parameters/userGuid'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/recordsPerPage'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsightsResponseBody'
          description: OK
      summary: List all insights for a user
      tags:
        - insights
  /users/{user_guid}/insights/{insight_guid}/categories:
    get:
      description: Use this endpoint to list all the categories associated with the insight.
      operationId: listCategoriesInsight
      parameters:
        - $ref: '#/components/parameters/acceptVersion'
        - $ref: '#/components/parameters/userGuid'
        - $ref: '#/components/parameters/insightGuid'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/recordsPerPage'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoriesResponseBody'
          description: OK
      summary: List all categories associated with an insight
      tags:
        - insights
  /users/{user_guid}/insights/{insight_guid}/accounts:
    get:
      description: Use this endpoint to list all the accounts associated with the insight.
      operationId: listAccountsInsight
      parameters:
        - $ref: '#/components/parameters/acceptVersion'
        - $ref: '#/components/parameters/userGuid'
        - $ref: '#/components/parameters/insightGuid'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/recordsPerPage'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsResponseBody'
          description: OK
      summary: List all accounts associated with an insight
      tags:
        - insights
  /users/{user_guid}/insights/{insight_guid}/merchants:
    get:
      description: Use this endpoint to list all the merchants associated with the insight.
      operationId: listMerchantsInsight
      parameters:
        - $ref: '#/components/parameters/acceptVersion'
        - $ref: '#/components/parameters/userGuid'
        - $ref: '#/components/parameters/insightGuid'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/recordsPerPage'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MerchantsResponseBody'
          description: OK
      summary: List all merchants associated with an insight
      tags:
        - insights
  /users/{user_guid}/insights/{insight_guid}/scheduled_payments:
    get:
      description: Use this endpoint to list all the scheduled payments associated with the insight.
      operationId: listScheduledPaymentsInsight
      parameters:
        - $ref: '#/components/parameters/acceptVersion'
        - $ref: '#/components/parameters/userGuid'
        - $ref: '#/components/parameters/insightGuid'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/recordsPerPage'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduledPaymentsResponseBody'
          description: OK
      summary: List all scheduled payments associated with an insight
      tags:
        - insights
  /users/{user_guid}/insights/{insight_guid}/transactions:
    get:
      description: Use this endpoint to list all the transactions associated with the insight.
      operationId: listTransactionsInsight
      parameters:
        - $ref: '#/components/parameters/acceptVersion'
        - $ref: '#/components/parameters/userGuid'
        - $ref: '#/components/parameters/insightGuid'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/recordsPerPage'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionsResponseBody'
          description: OK
      summary: List all transactions associated with an insight
      tags:
        - insights
  /users/{user_guid}/insights/{insight_guid}:
    get:
      description: Use this endpoint to read the attributes of an insight according to its unique GUID.
      operationId: readInsightUser
      parameters:
        - $ref: '#/components/parameters/acceptVersion'
        - $ref: '#/components/parameters/userGuid'
        - $ref: '#/components/parameters/insightGuid'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsightResponseBody'
          description: OK
      summary: Read insight
      tags:
        - insights
    put:
      description: Use this endpoint to update the attributes of an insight according to its unique GUID.
      operationId: updateInsight
      parameters:
        - $ref: '#/components/parameters/acceptVersion'
        - $ref: '#/components/parameters/userGuid'
        - $ref: '#/components/parameters/insightGuid'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InsightUpdateRequestBody'
        description: The insight to be updated (None of these parameters are required, but the user object cannot be empty.)
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsightResponse'
          description: OK
      summary: Update insight
      tags:
        - insights
  /users/{user_guid}/managed_members:
    get:
      description: |
        This endpoint returns a list of all the partner-managed members associated with the specified `user`.
        :::warning Deprecated
        This endpoint has been deprecated. For more information, reference the [Migration guide](https://docs.mx.com/api-reference/platform-api/overview/migration).
        :::
      operationId: listManagedMembers
      parameters:
        - $ref: '#/components/parameters/acceptVersion'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/recordsPerPageMax1000'
        - $ref: '#/components/parameters/userGuid'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MembersResponseBody'
          description: OK
      summary: List managed members
      tags:
        - managed data [deprecated]
      deprecated: true
    post:
      description: |
        Use this endpoint to create a new partner-managed `member`.
        :::warning Deprecated
        This endpoint has been deprecated. For more information, reference the [Migration guide](https://docs.mx.com/api-reference/platform-api/overview/migration).
        :::
      operationId: createManagedMember
      parameters:
        - $ref: '#/components/parameters/acceptVersion'
        - $ref: '#/components/parameters/userGuid'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ManagedMemberCreateRequestBody'
        description: Managed member to be created.
        required: true
      responses:
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MemberResponseBody'
          description: OK
      summary: Create managed member
      tags:
        - managed data [deprecated]
      deprecated: true
  /users/{user_guid}/managed_members/{member_guid}:
    delete:
      description: |
        Use this endpoint to delete the specified partner-managed `member`. The endpoint will respond with a status of `204 No Content` without a resource.
        :::warning Deprecated
        This endpoint has been deprecated. For more information, reference the [Migration guide](https://docs.mx.com/api-reference/platform-api/overview/migration).
        :::
      operationId: deleteManagedMember
      parameters:
        - $ref: '#/components/parameters/acceptVersion'
        - $ref: '#/components/parameters/memberGuid'
        - $ref: '#/components/parameters/acceptHeader'
        - $ref: '#/components/parameters/userGuid'
      responses:
        '204':
          description: No Content
      summary: Delete managed member
      tags:
        - managed data [deprecated]
      deprecated: true
    get:
      description: |
        This endpoint returns the attributes of the specified partner-managed`member`.
        :::warning Deprecated
        This endpoint has been deprecated. For more information, reference the [Migration guide](https://docs.mx.com/api-reference/platform-api/overview/migration).
        :::
      operationId: readManagedMember
      parameters:
        - $ref: '#/components/parameters/acceptVersion'
        - $ref: '#/components/parameters/memberGuid'
        - $ref: '#/components/parameters/userGuid'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MemberResponseBody'
          description: OK
      summary: Read managed member
      tags:
        - managed data [deprecated]
      deprecated: true
    put:
      description: |
        Use this endpoint to update the attributes of the specified partner_managed `member`.
        :::warning Deprecated
        This endpoint has been deprecated. For more information, reference the [Migration guide](https://docs.mx.com/api-reference/platform-api/overview/migration).
        :::
      operationId: updateManagedMember
      parameters:
        - $ref: '#/components/parameters/acceptVersion'
        - $ref: '#/components/parameters/memberGuid'
        - $ref: '#/components/parameters/userGuid'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ManagedMemberUpdateRequestBody'
        description: |
          Managed member object to be updated (While no single parameter is required, the request body can't be empty).

          :::warning Deprecated
          This endpoint has been deprecated. For more information, reference the [Migration guide](https://docs.mx.com/api-reference/platform-api/overview/migration).
          :::
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MemberResponseBody'
          description: OK
      summary: Update managed member
      tags:
        - managed data [deprecated]
      deprecated: true
  /users/{user_guid}/managed_members/{member_guid}/accounts:
    get:
      description: |
        Use this endpoint to retrieve a list of all the partner-managed accounts associated with the given partner-managed member.
        :::warning Deprecated
        This endpoint has been deprecated. For more information, reference the [Migration guide](https://docs.mx.com/api-reference/platform-api/overview/migration).
        :::
      operationId: listManagedAccounts
      parameters:
        - $ref: '#/components/parameters/acceptVersion'
        - $ref: '#/components/parameters/memberGuid'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/recordsPerPageMax1000'
        - $ref: '#/components/parameters/userGuid'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsResponseBody'
          description: OK
      summary: List managed accounts
      tags:
        - managed data [deprecated]
      deprecated: true
    post:
      description: |
        Use this endpoint to create a partner-managed account.
        :::warning Deprecated
        This endpoint has been deprecated. For more information, reference the [Migration guide](https://docs.mx.com/api-reference/platform-api/overview/migration).
        :::
      operationId: createManagedAccount
      parameters:
        - $ref: '#/components/parameters/acceptVersion'
        - $ref: '#/components/parameters/memberGuid'
        - $ref: '#/components/parameters/userGuid'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ManagedAccountCreateRequestBody'
        description: Managed account to be created.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountResponseBody'
          description: OK
      summary: Create managed account
      tags:
        - managed data [deprecated]
      deprecated: true
  /users/{user_guid}/managed_members/{member_guid}/accounts/{account_guid}:
    delete:
      description: |
        Use this endpoint to delete a partner-managed account according to its unique GUID. If successful, the API will respond with a status of `204 No Content`.
        :::warning Deprecated
        This endpoint has been deprecated. For more information, reference the [Migration guide](https://docs.mx.com/api-reference/platform-api/overview/migration).
        :::
      operationId: deleteManagedAccount
      parameters:
        - $ref: '#/components/parameters/acceptVersion'
        - $ref: '#/components/parameters/accountGuid'
        - $ref: '#/components/parameters/memberGuid'
        - $ref: '#/components/parameters/userGuid'
      responses:
        '204':
          description: No Content
      summary: Delete managed account
      tags:
        - managed data [deprecated]
      deprecated: true
    get:
      description: |
        Use this endpoint to read the attributes of a partner-managed account according to its unique guid.
        :::warning Deprecated
        This endpoint has been deprecated. For more information, reference the [Migration guide](https://docs.mx.com/api-reference/platform-api/overview/migration).
        :::
      operationId: readManagedAccount
      parameters:
        - $ref: '#/components/parameters/acceptVersion'
        - $ref: '#/components/parameters/accountGuid'
        - $ref: '#/components/parameters/memberGuid'
        - $ref: '#/components/parameters/userGuid'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountResponseBody'
          description: OK
      summary: Read managed account
      tags:
        - managed data [deprecated]
      deprecated: true
    put:
      description: |
        Use this endpoint to update the attributes of a partner-managed account according to its unique GUID.
        :::warning Deprecated 
        This endpoint has been deprecated. For more information, reference the [Migration guide](https://docs.mx.com/api-reference/platform-api/overview/migration).
        :::
      operationId: updateManagedAccount
      parameters:
        - $ref: '#/components/parameters/acceptVersion'
        - $ref: '#/components/parameters/accountGuid'
        - $ref: '#/components/parameters/memberGuid'
        - $ref: '#/components/parameters/userGuid'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ManagedAccountUpdateRequestBody'
        description: Managed account object to be updated (While no single parameter is required, the request body can't be empty).
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountResponseBody'
          description: OK
      summary: Update managed account
      tags:
        - managed data [deprecated]
      deprecated: true
  /users/{user_guid}/managed_members/{member_guid}/accounts/{account_guid}/transactions:
    get:
      description: |
        This endpoint returns a list of all the partner-managed transactions associated with the specified `account`, scoped through a `user` and a `member`.
        :::warning Deprecated
        This endpoint has been deprecated. For more information, reference the [Migration guide](https://docs.mx.com/api-reference/platform-api/overview/migration).
        :::
      operationId: listManagedTransactions
      parameters:
        - $ref: '#/components/parameters/acceptVersion'
        - $ref: '#/components/parameters/accountGuid'
        - $ref: '#/components/parameters/memberGuid'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/fromDate'
        - $ref: '#/components/parameters/toDate'
        - $ref: '#/components/parameters/recordsPerPageMax1000'
        - $ref: '#/components/parameters/userGuid'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionsResponseBody'
          description: OK
      summary: List managed transactions
      tags:
        - managed data [deprecated]
      deprecated: true
    post:
      description: |
        Use this endpoint to create a new partner-managed `transaction`.
        :::warning Deprecated
        This endpoint has been deprecated. For more information, reference the [Migration guide](https://docs.mx.com/api-reference/platform-api/overview/migration).
        :::
      operationId: createManagedTransaction
      parameters:
        - $ref: '#/components/parameters/acceptVersion'
        - $ref: '#/components/parameters/accountGuid'
        - $ref: '#/components/parameters/memberGuid'
        - $ref: '#/components/parameters/userGuid'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ManagedTransactionCreateRequestBody'
        description: Managed transaction to be created.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionResponseBody'
          description: OK
      summary: Create managed transaction
      tags:
        - managed data [deprecated]
      deprecated: true
  /users/{user_guid}/managed_members/{member_guid}/accounts/{account_guid}/transactions/{transaction_guid}:
    delete:
      description: |
        Use this endpoint to delete the specified partner-managed `transaction`. The endpoint will respond with a status of `204 No Content` without a resource.
        :::warning Deprecated
        This endpoint has been deprecated. For more information, reference the [Migration guide](https://docs.mx.com/api-reference/platform-api/overview/migration).
        :::
      operationId: deleteManagedTransaction
      parameters:
        - $ref: '#/components/parameters/acceptVersion'
        - $ref: '#/components/parameters/accountGuid'
        - $ref: '#/components/parameters/memberGuid'
        - $ref: '#/components/parameters/transactionGuid'
        - $ref: '#/components/parameters/userGuid'
      responses:
        '204':
          description: No Content
      summary: Delete managed transaction
      tags:
        - managed data [deprecated]
      deprecated: true
    get:
      description: |
        Requests to this endpoint will return the attributes of the specified partner-managed `transaction`.
        :::warning Deprecated
        This endpoint has been deprecated. For more information, reference the [Migration guide](https://docs.mx.com/api-reference/platform-api/overview/migration).
        :::
      operationId: readManagedTransaction
      parameters:
        - $ref: '#/components/parameters/acceptVersion'
        - $ref: '#/components/parameters/accountGuid'
        - $ref: '#/components/parameters/memberGuid'
        - $ref: '#/components/parameters/transactionGuid'
        - $ref: '#/components/parameters/userGuid'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionResponseBody'
          description: OK
      summary: Read managed transaction
      tags:
        - managed data [deprecated]
      deprecated: true
    put:
      description: |
        Use this endpoint to update the attributes of the specified partner_managed `transaction`.
        :::warning Deprecated
        This endpoint has been deprecated. For more information, reference the [Migration guide](https://docs.mx.com/api-reference/platform-api/overview/migration).
        :::
      operationId: updateManagedTransaction
      parameters:
        - $ref: '#/components/parameters/acceptVersion'
        - $ref: '#/components/parameters/accountGuid'
        - $ref: '#/components/parameters/memberGuid'
        - $ref: '#/components/parameters/transactionGuid'
        - $ref: '#/components/parameters/userGuid'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ManagedTransactionUpdateRequestBody'
        description: Managed transaction object to be updated (While no single parameter is required, the request body can't be empty)
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionResponseBody'
          description: OK
      summary: Update managed transaction
      tags:
        - managed data [deprecated]
      deprecated: true
  /users/{user_identifier}/members:
    get:
      description: This endpoint returns an array which contains information on every member associated with a specific user.
      operationId: listMembers
      parameters:
        - $ref: '#/components/parameters/acceptVersion'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/recordsPerPageMax1000'
        - $ref: '#/components/parameters/userIdentifier'
        - $ref: '#/components/parameters/useCase'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MembersResponseBody'
          description: OK
      summary: List members
      tags:
        - members
    post:
      description: This endpoint allows you to create a new member. Members are created with the required parameters credentials and institution_code, and the optional parameters id and metadata. When creating a member, you'll need to include the correct type of credential required by the financial institution and provided by the user. You can find out which credential type is required with the `/institutions/{institution_code}/credentials` endpoint. If successful, the MX Platform API will respond with the newly-created member object. Once you successfully create a member, MX will immediately validate the provided credentials and attempt to aggregate data for accounts and transactions.
      operationId: createMember
      parameters:
        - $ref: '#/components/parameters/acceptVersion'
        - $ref: '#/components/parameters/xCallback'
        - $ref: '#/components/parameters/userIdentifier'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MemberCreateRequestBody'
        description: Member object to be created with optional parameters (id and metadata) and required parameters (credentials and institution_code)
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MemberResponseBody'
          description: OK
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MemberResponseBody'
          description: Accepted
      summary: Create member
      tags:
        - members
  /users/{user_identifier}/members/{member_identifier}:
    delete:
      description: Accessing this endpoint will permanently delete a member.
      operationId: deleteMember
      parameters:
        - $ref: '#/components/parameters/acceptVersion'
        - $ref: '#/components/parameters/memberIdentifier'
        - $ref: '#/components/parameters/userIdentifier'
      responses:
        '204':
          description: No Content
      summary: Delete member
      tags:
        - members
    get:
      description: Use this endpoint to read the attributes of a specific member.
      operationId: readMember
      parameters:
        - $ref: '#/components/parameters/acceptVersion'
        - $ref: '#/components/parameters/memberIdentifier'
        - $ref: '#/components/parameters/userIdentifier'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MemberResponseBody'
          description: OK
      summary: Read member
      tags:
        - members
    put:
      description: Use this endpoint to update a members attributes. Only the credentials, id, and metadata parameters can be updated. To get a list of the required credentials for the member, use the list member credentials endpoint.
      operationId: updateMember
      parameters:
        - $ref: '#/components/parameters/acceptVersion'
        - $ref: '#/components/parameters/xCallback'
        - $ref: '#/components/parameters/memberIdentifier'
        - $ref: '#/components/parameters/userIdentifier'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MemberUpdateRequestBody'
        description: Member object to be updated (While no single parameter is required, the request body can't be empty)
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MemberResponseBody'
          description: OK
      summary: Update member
      tags:
        - members
  /users/{user_guid}/members/{member_guid}/account_numbers:
    get:
      description: This endpoint returns a list of account numbers associated with the specified `member`.
      operationId: listAccountNumbersByMember
      parameters:
        - $ref: '#/components/parameters/acceptVersion'
        - $ref: '#/components/parameters/memberGuid'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/recordsPerPageMax1000'
        - $ref: '#/components/parameters/userGuid'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountNumbersResponseBody'
          description: OK
      summary: List account numbers by member
      tags:
        - accounts
  /users/{user_identifier}/members/{member_identifier}/account_owners:
    get:
      description: This endpoint returns an array with information about every account associated with a particular member.
      operationId: listAccountOwnersByMember
      parameters:
        - $ref: '#/components/parameters/acceptVersion'
        - $ref: '#/components/parameters/memberIdentifier'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/recordsPerPageMax1000'
        - $ref: '#/components/parameters/userIdentifier'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountOwnersResponseBody'
          description: OK
      summary: List account owners by member
      tags:
        - accounts
  /users/{user_identifier}/members/{member_identifier}/accounts:
    get:
      description: This endpoint returns a list of all the accounts associated with the specified `member`.
      operationId: listMemberAccounts
      parameters:
        - $ref: '#/components/parameters/acceptVersion'
        - $ref: '#/components/parameters/memberIsManagedByUser'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/recordsPerPageMax1000'
        - $ref: '#/components/parameters/userIdentifier'
        - $ref: '#/components/parameters/memberIdentifier'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsResponseBody'
          description: OK
      summary: List member accounts
      tags:
        - accounts
  /users/{user_identifier}/members/{member_identifier}/accounts/{account_identifier}:
    get:
      description: This endpoint allows you to read the attributes of an `account` resource.
      operationId: readAccountByMember
      parameters:
        - $ref: '#/components/parameters/acceptVersion'
        - $ref: '#/components/parameters/accountIdentifier'
        - $ref: '#/components/parameters/memberIdentifier'
        - $ref: '#/components/parameters/userIdentifier'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountResponseBody'
          description: OK
      summary: Read member account
      tags:
        - accounts
    put:
      description: This endpoint allows you to update certain attributes of an `account` resource, including manual accounts. For manual accounts, you can update every field listed. For aggregated accounts, you can only update `is_business`, `is_hidden` and `metadata`.
      operationId: updateAccountByMember
      parameters:
        - $ref: '#/components/parameters/acceptVersion'
        - $ref: '#/components/parameters/accountIdentifier'
        - $ref: '#/components/parameters/memberIdentifier'
        - $ref: '#/components/parameters/userIdentifier'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountUpdateRequestBody'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountResponseBody'
          description: OK
      summary: Update account by member
      tags:
        - accounts
  /users/{user_identifier}/members/{member_identifier}/aggregate:
    post:
      description: Calling this endpoint initiates an aggregation event for the member. This brings in the latest account and transaction data from the connected institution. If this data has recently been updated, MX may not initiate an aggregation event.
      operationId: aggregateMember
      parameters:
        - $ref: '#/components/parameters/acceptVersion'
        - $ref: '#/components/parameters/xCallback'
        - $ref: '#/components/parameters/memberIdentifier'
        - $ref: '#/components/parameters/userIdentifier'
      responses:
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MemberResponseBody'
          description: Accepted
      summary: Aggregate member
      tags:
        - members
  /users/{user_identifier}/members/{member_identifier}/challenges:
    get:
      description: Use this endpoint for information on what multi-factor authentication challenges need to be answered in order to aggregate a member. If the aggregation is not challenged, i.e., the member does not have a connection status of `CHALLENGED`, then code `204 No Content` will be returned. If the aggregation has been challenged, i.e., the member does have a connection status of `CHALLENGED`, then code `200 OK` will be returned - along with the corresponding credentials.
      operationId: listMemberChallenges
      parameters:
        - $ref: '#/components/parameters/acceptVersion'
        - $ref: '#/components/parameters/memberIdentifier'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/recordsPerPageMax1000'
        - $ref: '#/components/parameters/userIdentifier'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChallengesResponseBody'
          description: OK
      summary: List member challenges
      tags:
        - members
  /users/{user_identifier}/members/{member_identifier}/check_balance:
    post:
      description: This endpoint operates much like the aggregate member endpoint except that it gathers only account balance information; it does not gather any transaction data.
      operationId: checkBalances
      parameters:
        - $ref: '#/components/parameters/acceptVersion'
        - $ref: '#/components/parameters/memberIdentifier'
        - $ref: '#/components/parameters/userIdentifier'
      responses:
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MemberResponseBody'
          description: Accepted
      summary: Check balances
      tags:
        - members
  /users/{user_identifier}/members/{member_identifier}/credentials:
    get:
      description: This endpoint returns an array which contains information on every non-MFA credential associated with a specific member.
      operationId: listMemberCredentials
      parameters:
        - $ref: '#/components/parameters/acceptVersion'
        - $ref: '#/components/parameters/memberIdentifier'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/recordsPerPageMax1000'
        - $ref: '#/components/parameters/userIdentifier'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CredentialsResponseBody'
          description: OK
      summary: List member credentials
      tags:
        - members
  /users/{user_identifier}/members/{member_identifier}/extend_history:
    post:
      description: Some institutions allow developers to access an extended transaction history with up to 24 months of data associated with a particular member. The process for fetching and then reading this extended transaction history is much like standard aggregation, and it may trigger multi-factor authentication.
      operationId: extendHistory
      parameters:
        - $ref: '#/components/parameters/acceptVersion'
        - $ref: '#/components/parameters/memberIdentifier'
        - $ref: '#/components/parameters/userIdentifier'
      responses:
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MemberResponseBody'
          description: Accepted
      summary: Extend history
      tags:
        - transactions
  /users/{user_identifier}/members/{member_identifier}/fetch_statements:
    post:
      description: Use this endpoint to fetch the statements associated with a particular member.
      operationId: fetchStatements
      parameters:
        - $ref: '#/components/parameters/acceptVersion'
        - $ref: '#/components/parameters/memberIdentifier'
        - $ref: '#/components/parameters/userIdentifier'
      responses:
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MemberResponseBody'
          description: Accepted
      summary: Fetch statements
      tags:
        - statements
  /users/{user_guid}/members/{member_guid}/investment_holdings:
    get:
      description: This endpoint lists all holdings associated with the specified member.
      operationId: listHoldingsByMember
      parameters:
        - $ref: '#/components/parameters/acceptVersion'
        - $ref: '#/components/parameters/memberGuid'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/recordsPerPageMax1000'
        - $ref: '#/components/parameters/userGuid'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvestmentHoldingsResponseBody'
          description: OK
      summary: List holdings by member
      tags:
        - investment holdings
  /users/{user_guid}/investment_holdings:
    get:
      description: This endpoint lists all holdings associated with the user across all accounts.
      operationId: listHoldings
      parameters:
        - $ref: '#/components/parameters/acceptVersion'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/recordsPerPageMax1000'
        - $ref: '#/components/parameters/userGuid'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvestmentHoldingsResponseBody'
          description: OK
      summary: List holdings by user
      tags:
        - investment holdings
  /users/{user_guid}/investment_holdings/{holding_guid}:
    get:
      description: Use this endpoint to read the attributes of a specific `holding`.
      operationId: readHolding
      parameters:
        - $ref: '#/components/parameters/acceptVersion'
        - $ref: '#/components/parameters/holdingGuid'
        - $ref: '#/components/parameters/userGuid'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvestmentHoldingResponseBody'
          description: OK
      summary: Read holding
      tags:
        - investment holdings
  /users/{user_guid}/accounts/{account_guid}/investment_holdings:
    get:
      description: This endpoint lists all holdings associated with the particular account defined.
      operationId: listHoldingsByAccount
      parameters:
        - $ref: '#/components/parameters/acceptVersion'
        - $ref: '#/components/parameters/accountGuid'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/recordsPerPageMax1000'
        - $ref: '#/components/parameters/userGuid'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvestmentHoldingsResponseBody'
          description: OK
      summary: List holdings by account
      tags:
        - investment holdings
  /users/{user_guid}/investment_holdings_deactivate:
    get:
      description: This endpoint deactivates the specific user from the `/investment_holdings` product. To reactivate a user, use any of the current `/investment_holding` endpoints.
      operationId: deactivateUser
      parameters:
        - $ref: '#/components/parameters/acceptVersion'
        - $ref: '#/components/parameters/userGuid'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvestmentHoldingsDeactivation'
          description: OK
      summary: Deactivate user from Investment Holdings
      tags:
        - investment holdings
  /users/{user_identifier}/members/{member_identifier}/identify:
    post:
      description: The identify endpoint begins an identification process for an already-existing member.
      operationId: identifyMember
      parameters:
        - $ref: '#/components/parameters/acceptVersion'
        - $ref: '#/components/parameters/memberIdentifier'
        - $ref: '#/components/parameters/userIdentifier'
      responses:
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MemberResponseBody'
          description: Accepted
      summary: Identify member
      tags:
        - members
  /users/{user_identifier}/members/{member_identifier}/oauth_window_uri:
    get:
      description: This endpoint will generate an `oauth_window_uri` for the specified `member`.
      operationId: requestOAuthWindowURI
      parameters:
        - $ref: '#/components/parameters/acceptVersion'
        - $ref: '#/components/parameters/clientRedirectUrl'
        - $ref: '#/components/parameters/enableApp2app'
        - $ref: '#/components/parameters/memberIdentifier'
        - $ref: '#/components/parameters/referralSource'
        - $ref: '#/components/parameters/skipAggregation'
        - $ref: '#/components/parameters/uiMessageWebviewUrlScheme'
        - $ref: '#/components/parameters/userIdentifier'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthWindowResponseBody'
          description: OK
      summary: Request oauth window uri
      tags:
        - widgets
  /users/{user_identifier}/members/{member_identifier}/resume:
    put:
      description: This endpoint answers the challenges needed when a member has been challenged by multi-factor authentication.
      operationId: resumeAggregation
      parameters:
        - $ref: '#/components/parameters/acceptVersion'
        - $ref: '#/components/parameters/memberIdentifier'
        - $ref: '#/components/parameters/userIdentifier'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MemberResumeRequestBody'
        description: Member object with MFA challenge answers
        required: true
      responses:
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MemberResponseBody'
          description: Accepted
      summary: Resume aggregation
      tags:
        - members
  /users/{user_guid}/members/{member_guid}/statements:
    get:
      description: Use this endpoint to get an array of available statements.
      operationId: listStatementsByMember
      parameters:
        - $ref: '#/components/parameters/acceptVersion'
        - $ref: '#/components/parameters/memberGuid'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/recordsPerPageMax1000'
        - $ref: '#/components/parameters/userGuid'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatementsResponseBody'
          description: OK
      summary: List statements by member
      tags:
        - statements
  /users/{user_guid}/members/{member_guid}/statements/{statement_guid}:
    get:
      description: Use this endpoint to read a JSON representation of the statement.
      operationId: readStatementByMember
      parameters:
        - $ref: '#/components/parameters/acceptVersion'
        - $ref: '#/components/parameters/memberGuid'
        - $ref: '#/components/parameters/statementGuid'
        - $ref: '#/components/parameters/userGuid'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatementResponseBody'
          description: OK
      summary: Read statement by member
      tags:
        - statements
  /users/{user_guid}/members/{member_guid}/statements/{statement_guid}.pdf:
    get:
      description: Use this endpoint to download a specified statement PDF.
      operationId: downloadStatementPDF
      parameters:
        - $ref: '#/components/parameters/acceptVersion'
        - $ref: '#/components/parameters/memberGuid'
        - $ref: '#/components/parameters/statementGuid'
        - $ref: '#/components/parameters/userGuid'
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+pdf:
              schema:
                format: binary
                type: string
          description: OK
      summary: Download statement pdf
      tags:
        - statements
  /users/{user_identifier}/members/{member_identifier}/status:
    get:
      description: This endpoint provides the status of the members most recent aggregation event. The results returned by this endpoint should determine what you do next in order to successfully aggregate a member.
      operationId: readMemberStatus
      parameters:
        - $ref: '#/components/parameters/acceptVersion'
        - $ref: '#/components/parameters/memberIdentifier'
        - $ref: '#/components/parameters/userIdentifier'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MemberStatusResponseBody'
          description: OK
      summary: Read member status
      tags:
        - members
  /users/{user_identifier}/members/{member_identifier}/transactions:
    get:
      description: Requests to this endpoint return a list of transactions associated with the specified `member`, across all accounts associated with that `member`. <br /><br />Enhanced transaction data may be requested using the `includes` parameter. To use this optional parameter, the value should include the optional metadata requested such as `repeating_transactions`, `merchants`, `classifications`, `geolocations`. For more information, see the Optional Enhancement Query Parameter guide.
      operationId: listTransactionsByMember
      parameters:
        - $ref: '#/components/parameters/acceptVersion'
        - $ref: '#/components/parameters/userIdentifier'
        - $ref: '#/components/parameters/memberIdentifier'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/recordsPerPageMax1000'
        - $ref: '#/components/parameters/fromDateUnix'
        - $ref: '#/components/parameters/toDateUnix'
        - $ref: '#/components/parameters/fromCreatedAt'
        - $ref: '#/components/parameters/toCreatedAt'
        - $ref: '#/components/parameters/fromTimestamp'
        - $ref: '#/components/parameters/toTimestamp'
        - $ref: '#/components/parameters/fromUpdatedAt'
        - $ref: '#/components/parameters/toUpdatedAt'
        - $ref: '#/components/parameters/includes'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionsResponseBodyIncludes'
          description: OK
      summary: List transactions by member
      tags:
        - transactions
  /users/{user_identifier}/members/{member_identifier}/verify:
    post:
      description: The verify endpoint begins a verification process for a member.
      operationId: verifyMember
      parameters:
        - $ref: '#/components/parameters/acceptVersion'
        - $ref: '#/components/parameters/xCallback'
        - $ref: '#/components/parameters/memberIdentifier'
        - $ref: '#/components/parameters/userIdentifier'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MemberResponseBody'
          description: OK
      summary: Verify member
      tags:
        - members
  /users/{user_guid}/spending_plans/{spending_plan_guid}/iterations/current/iteration_items:
    post:
      description: This endpoint creates a new `spending_plan_iteration_item`.
      operationId: createSpendingPlanIterationItem
      parameters:
        - $ref: '#/components/parameters/acceptVersion'
        - $ref: '#/components/parameters/spendingPlanGuid'
        - $ref: '#/components/parameters/userGuid'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SpendingPlanIterationItemCreateRequestBody'
        description: Iteration item to be created with required parameter (planned_amount)
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpendingPlanIterationItemResponse'
          description: OK
      summary: Create spending plan iteration item
      tags:
        - spending plan
    get:
      description: Use this endpoint to list all the spending plan `iteration_items` associated with the `iteration`.
      operationId: listSpendingPlanIterationItems
      parameters:
        - $ref: '#/components/parameters/acceptVersion'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/recordsPerPageMax1000'
        - $ref: '#/components/parameters/userGuid'
        - $ref: '#/components/parameters/spendingPlanGuid'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpendingPlanIterationItemsResponseBody'
          description: OK
      summary: List spending plan iteration items
      tags:
        - spending plan
  /users/{user_guid}/spending_plans:
    post:
      description: This endpoint creates a new `spending_plan` for the user.
      operationId: createSpendingPlan
      parameters:
        - $ref: '#/components/parameters/acceptVersion'
        - $ref: '#/components/parameters/userGuid'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpendingPlanResponse'
          description: OK
      summary: Create spending plan
      tags:
        - spending plan
    get:
      description: Use this endpoint to list all the spending plans associated with the user.
      operationId: listSpendingPlans
      parameters:
        - $ref: '#/components/parameters/acceptVersion'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/recordsPerPageMax1000'
        - $ref: '#/components/parameters/userGuid'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpendingPlansResponseBody'
          description: OK
      summary: List spending plans
      tags:
        - spending plan
  /users/{user_guid}/spending_plans/{spending_plan_guid}/spending_plan_accounts/{spending_plan_account_guid}:
    delete:
      description: Use this endpoint to delete a `spending_plan_account`.
      operationId: deleteSpendingPlanAccount
      parameters:
        - $ref: '#/components/parameters/acceptVersion'
        - $ref: '#/components/parameters/userGuid'
        - $ref: '#/components/parameters/spendingPlanGuid'
        - $ref: '#/components/parameters/spendingPlanAccountGuid'
      responses:
        '204':
          description: No Content
      summary: Delete spending plan account
      tags:
        - spending plan
    get:
      description: Use this endpoint to read the attributes of a specific spending plan account according to its unique GUID.
      operationId: readSpendingPlanAccount
      parameters:
        - $ref: '#/components/parameters/acceptVersion'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/recordsPerPageMax1000'
        - $ref: '#/components/parameters/userGuid'
        - $ref: '#/components/parameters/spendingPlanGuid'
        - $ref: '#/components/parameters/spendingPlanAccountGuid'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpendingPlanAccountResponse'
          description: OK
      summary: Read spending plan account
      tags:
        - spending plan
  /users/{user_guid}/spending_plans/{spending_plan_guid}/iterations/current/iteration_items/{iteration_item_guid}:
    delete:
      description: Use this endpoint to delete a spending plan `iteration_item`.
      operationId: deleteSpendingPlanIterationItem
      parameters:
        - $ref: '#/components/parameters/acceptVersion'
        - $ref: '#/components/parameters/userGuid'
        - $ref: '#/components/parameters/spendingPlanGuid'
        - $ref: '#/components/parameters/iterationItemGuid'
      responses:
        '204':
          description: No Content
      summary: Delete spending plan iteration item
      tags:
        - spending plan
    get:
      description: Use this endpoint to read the attributes of a specific spending plan `iteration_item` according to its unique GUID.
      operationId: readSpendingPlanIterationItem
      parameters:
        - $ref: '#/components/parameters/acceptVersion'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/recordsPerPageMax1000'
        - $ref: '#/components/parameters/userGuid'
        - $ref: '#/components/parameters/spendingPlanGuid'
        - $ref: '#/components/parameters/iterationItemGuid'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpendingPlanIterationItemResponse'
          description: OK
      summary: Read a spending plan iteration item
      tags:
        - spending plan
    put:
      description: Use this endpoint to update an existing `spending_plan_iteration_item`.
      operationId: updateSpendingPlanIterationItem
      parameters:
        - $ref: '#/components/parameters/acceptVersion'
        - $ref: '#/components/parameters/userGuid'
        - $ref: '#/components/parameters/spendingPlanGuid'
        - $ref: '#/components/parameters/iterationItemGuid'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SpendingPlanIterationItemCreateRequestBody'
        description: Iteration item to be updated with required parameter (planned_amount)
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpendingPlanIterationItemResponse'
          description: OK
      summary: Update a spending plan iteration item
      tags:
        - spending plan
  /users/{user_guid}/spending_plans/{spending_plan_guid}:
    delete:
      description: Use this endpoint to delete a user's `spending_plan`.
      operationId: deleteSpendingPlan
      parameters:
        - $ref: '#/components/parameters/acceptVersion'
        - $ref: '#/components/parameters/userGuid'
        - $ref: '#/components/parameters/spendingPlanGuid'
      responses:
        '204':
          description: No Content
      summary: Delete spending plan
      tags:
        - spending plan
    get:
      description: Use this endpoint to read the attributes of a specific spending plan according to its unique GUID.
      operationId: readSpendingPlanUser
      parameters:
        - $ref: '#/components/parameters/acceptVersion'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/recordsPerPageMax1000'
        - $ref: '#/components/parameters/userGuid'
        - $ref: '#/components/parameters/spendingPlanGuid'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpendingPlanResponse'
          description: OK
      summary: Read a spending plan for a user
      tags:
        - spending plan
  /users/{user_guid}/spending_plans/{spending_plan_guid}/spending_plan_accounts:
    get:
      description: Use this endpoint to list all the spending plan accounts associated with the spending plan.
      operationId: listSpendingPlanAccounts
      parameters:
        - $ref: '#/components/parameters/acceptVersion'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/recordsPerPageMax1000'
        - $ref: '#/components/parameters/userGuid'
        - $ref: '#/components/parameters/spendingPlanGuid'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpendingPlanAccountsResponse'
          description: OK
      summary: List spending plan accounts
      tags:
        - spending plan
  /users/{user_guid}/spending_plans/{spending_plan_guid}/iterations:
    get:
      description: Use this endpoint to list all the spending plan `iterations` associated with the `spending_plan`.
      operationId: listSpendingPlanIterations
      parameters:
        - $ref: '#/components/parameters/acceptVersion'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/recordsPerPageMax1000'
        - $ref: '#/components/parameters/userGuid'
        - $ref: '#/components/parameters/spendingPlanGuid'
      responses:
        '200':
          content:
            application/json:
              schema:
[...]
