name: SDK Generation Validation Simple

on:
  pull_request:
    paths: 
      - 'openapi/mx_platform_api.yml'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Test step
        run: echo "Hello world"