name: Validate

on: [push]

jobs:
  Test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Validate OpenAPI Schema
      uses: thiyagu06/openapi-validator-action@v1
      with:
        filepath: 'openapi/v20111101.yaml'
    - name: Validate OpenAPI YAML
      uses: ibiqlik/action-yamllint@v3
      with:
        file_or_dir: openapi/v20111101.yaml
        config_file: .yamllint.yml
