name: Version

on:
  pull_request:
    types: [opened, labeled, unlabeled, synchronize]

jobs:
  Version:
    runs-on: ubuntu-latest
    permissions:
      issues: write
      pull-requests: write
    steps:
      - uses: actions/checkout@v3
      - name: Get openapi file
        id: changed-files-specific
        uses: tj-actions/changed-files@v41
        with:
          files: openapi/v20111101.yml

      - name: Require version label on OpenAPI change
        if: contains(github.event.pull_request.labels.*.name, 'needs version')
        run: |
          files=$(git diff --name-only origin/master...HEAD)
          if echo "$files" | grep -q "openapi/v20111101.yaml"; then
